doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content='ThemeStarz')
    link(href='assets/fonts/font-awesome.css' rel='stylesheet' type='text/css')
    link(href='assets/fonts/elegant-fonts.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.css' type='text/css')
    link(rel='stylesheet' href='assets/css/jquery.nouislider.min.css' type='text/css')
    link(rel='stylesheet' href='assets/css/bootstrap-select.min.css' type='text/css')
    link(rel='stylesheet' href='assets/css/owl.carousel.css' type='text/css')
    link(rel='stylesheet' href='assets/css/style.css' type='text/css')
    title Locations - Directory Listing HTML Template
  body.subpage-detail
    .page-wrapper
      header#page-header
        nav
          .left
            a.brand(href='index.html')
              img(src='assets/img/logo.png' alt='')
          // end left
          .right
            .primary-nav.has-mega-menu
              ul.navigation
                li.active.has-child
                  a(href='#nav-homepages') Home
                  .wrapper
                    #nav-homepages.nav-wrapper
                      ul
                        li
                          a(href='index-map-version-1.html') Map Full Screen Sidebar Results
                        li
                          a(href='index-map-version-2.html') Map Horizontal Form
                        li
                          a(href='index-map-version-3.html') Map Full Screen Form in Sidebar
                        li
                          a(href='index-map-version-4.html') Map Form Under
                        li
                          a(href='index-hero-version-1.html') Hero One Input Form
                        li
                          a(href='index-hero-version-2.html') Hero Multiple Inputs
                        li
                          a(href='index-hero-version-3.html') Hero Form Under
                        li
                          a(href='index-hero-version-4.html') Hero Full Screen Slider
                li.has-child
                  a(href='#nav-listing') Listing
                  .wrapper
                    #nav-listing.nav-wrapper
                      ul
                        li.has-child
                          a(href='#nav-grid-listing') Grid Listing
                          #nav-grid-listing.nav-wrapper
                            ul
                              li
                                a(href='listing-grid-right-sidebar.html') With Right Sidebar
                              li
                                a(href='listing-grid-left-sidebar.html') With Left Sidebar
                              li
                                a(href='listing-grid-full-width.html') Full Width
                              li
                                a(href='listing-grid-different-widths.html') Different Widths
                              li
                                a(href='listing-grid-3-items.html') 3 Items in Row
                              li
                                a(href='listing-grid-4-items.html') 4 Items in Row
                        li.has-child
                          a(href='#nav-row-listing') Row Listing
                          #nav-row-listing.nav-wrapper
                            ul
                              li
                                a(href='listing-row-right-sidebar.html') Row Right Sidebar
                              li
                                a(href='listing-row-left-sidebar.html') Row Left Sidebar
                li.mega-menu-parent.has-child
                  a(href='#nav-pages') Pages
                  .wrapper
                    .mega-menu
                      #nav-pages.nav-wrapper
                        .container
                          .row
                            .col-md-3.col-sm-3
                              h4.heading General
                              ul
                                li
                                  a(href='faq.html') Faq
                                li
                                  a(href='pricing.html') Pricing
                                li
                                  a(href='submit.html') Submit Listing
                                li
                                  a(href='detail.html') Listing Detail
                                li
                                  a(href='detail-2.html') Listing Detail v2
                            // end col-md-3
                            .col-md-3.col-sm-3
                              h4.heading User
                              ul
                                li
                                  a(href='profile.html') Profile Edit
                                li
                                  a(href='sign-in.html') Sign In
                                li
                                  a(href='register.html') Register
                                li
                                  a(href='reset-password.html') Reset Password
                                li
                                  a(href='my-listings.html') My Listings
                                li
                                  a(href='edit-listing.html') Edit Listing
                                li
                                  a(href='reviews.html') Reviews
                            // end col-md-3
                            .col-md-3.col-sm-3
                              h4.heading Other
                              ul
                                li
                                  a(href='elements.html') Elements / Shortcodes
                                li
                                  a(href='404.html') 404 Error Page
                                li
                                  a(href='sticky-footer.html') Sticky Footer
                                li
                                  a(href='terms-and-conditions.html') Terms & Conditions
                                li
                                  a(href='grid-system.html') Grid System
                            // end col-md-3
                            .col-md-3.col-sm-3
                              .image.center.overlay
                                .vertical-aligned-elements
                                  .element
                                    a.btn.btn-default.btn-framed(href='#') Submit Your Listing
                                .bg-transfer
                                  img(src='assets/img/items/10.jpg' alt='')
                            // end col-md-3
                          // end row
                        // end container
                      // end collapse
                    // end wrapper
                  // end mega-menu
                li.has-child
                  a(href='#nav-locations') Locations
                  .wrapper
                    #nav-locations.nav-wrapper
                      ul
                        li.has-child
                          a(href='#nav-locations-new-york') New York
                          #nav-locations-new-york.nav-wrapper
                            ul
                              li.has-child
                                a(href='#nav-4') Manhattan
                                #nav-4.nav-wrapper
                                  ul
                                    li
                                      a(href='#') 1
                                    li
                                      a(href='#') 2
                                    li
                                      a(href='#') 3
                                    li
                                      a(href='#') 4
                              li
                                a(href='#') Brooklyn
                              li
                                a(href='#') Staten Island
                        li.has-child
                          a(href='#nav-5') London
                          #nav-5.nav-wrapper
                            ul
                              li
                                a(href='#') Abbey Wood
                              li
                                a(href='#') Bayswater
                              li
                                a(href='#') Forestdale
                        li.has-child
                          a(href='#nav-6') Paris
                          #nav-6.nav-wrapper
                            ul
                              li
                                a(href='#') Louvre
                              li
                                a(href='#') Bourse
                              li
                                a(href='#') Marais
                    // end nav-wrapper
                  // end wrapper
                li
                  a(href='blog.html') Blog
                li
                  a(href='contact.html') Contact
              // end navigation
            // end primary-nav
            .secondary-nav
              a(href='#' data-modal-external-file='modal_sign_in.php' data-target='modal-sign-in') Sign In
              a.promoted(href='#' data-modal-external-file='modal_register.php' data-target='modal-register') Register
            // end secondary-nav
            a.btn.btn-primary.btn-small.btn-rounded.icon.shadow.add-listing(href='#' data-modal-external-file='modal_submit.php' data-target='modal-submit')
              i.fa.fa-plus
              span Add listing
            .nav-btn
              i
              i
              i
            // end nav-btn
          // end right
        // end nav
      // end page-header
      #page-content
        .container
          ol.breadcrumb
            li
              a(href='#') Home
            li
              a(href='#') Pages
            li.active Contact
          .row
            .col-md-9.col-sm-9
              section.page-title
                .pull-left
                  h1 Marky’s Restaurant
                  h3 63 Birch Street
                  .rating-passive(data-rating='4')
                    span.stars
                    span.reviews 6
                // end page-title
                a.btn.btn-primary.btn-framed.btn-rounded.btn-light-frame.icon.scroll.pull-right(href='#write-a-review')
                  i.fa.fa-star
                  | Write a review
              .row
                .col-md-8.col-sm-12
                  section
                    .gallery.detail
                      .owl-carousel(data-owl-nav='0' data-owl-dots='1')
                        .image
                          .bg-transfer
                            img(src='assets/img/items/1.jpg' alt='')
                        .image
                          .bg-transfer
                            img(src='assets/img/items/30.jpg' alt='')
                        .image
                          .bg-transfer
                            img(src='assets/img/items/31.jpg' alt='')
                        .image
                          .bg-transfer
                            img(src='assets/img/items/21.jpg' alt='')
                        .image
                          .bg-transfer
                            img(src='assets/img/items/23.jpg' alt='')
                      // end owl-carousel
                    // end gallery
                  section
                    section
                      h2 About this listing
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur tristique enim, ac tincidunt
                        | massa pulvinar non. Donec scelerisque libero eu tincidunt cursus. Phasellus vel commodo nunc, nec suscipit
                        | enim. Integer suscipit, mauris consectetur pharetra ultrices, neque sem malesuada mauris, id tristique
                        | ante leo vel magna. Phasellus ac risus vel erat elementum fringilla et non massa. Pellentesque habitant
                        | morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                      p
                        | In ut varius magna. Integer ullamcorper tincidunt molestie. Morbi consequat sem non nulla laoreet,
                        | non commodo tellus elementum. Sed tincidunt, lorem vitae rhoncus pharetra, diam ex pharetra erat, eu
                        | lacinia mi libero vitae lectus. Nullam cursus bibendum magna ut elementum. Fusce eget mauris in erat
                        | gravida pretium sed eget massa.
                        | gravida pretium sed eget massa.
                  section.box
                    h2 Opening Hours
                    dl
                      dt Monday
                      dd 08:00am - 11:00pm
                      dt Tuesday
                      dd 08:00am - 11:00pm
                      dt Wednesday
                      dd 12:00am - 11:00pm
                      dt Thursday
                      dd 08:00am - 11:00pm
                      dt Friday
                      dd 03:00pm - 02:00am
                      dt Saturday
                      dd 03:00pm - 02:00am
                      dt Sunday
                      dd Closed
                  section
                    h2 Reviews
                    .review
                      .image
                        .bg-transfer
                          img(src='assets/img/person-02.jpg' alt='')
                      .description
                        figure
                          .rating-passive(data-rating='4')
                            span.stars
                            span.reviews 6
                          span.date 09.05.2016
                        p
                          | Donec nec tristique sapien. Aliquam ante felis, sagittis sodales diam sollicitudin, dapibus semper turpis
                    // end review
                    .review
                      .image
                        .bg-transfer
                          img(src='assets/img/person-01.jpg' alt='')
                      .description
                        figure
                          .rating-passive(data-rating='5')
                            span.stars
                            span.reviews 6
                          span.date 09.05.2016
                        p
                          | Vestibulum vel est massa. Integer pellentesque non augue et accumsan. Maecenas molestie elit nibh,
                          | vel vestibulum leo condimentum quis. Duis ac orci a magna auctor vehicula.
                    // end review
                  section#write-a-review
                    h2 Write a Review
                    form.clearfix.form.inputs-underline
                      .box
                        .comment
                          .row
                            .col-md-7
                              .comment-title
                                h4 Review your experience
                              // end title
                              .form-group
                                label(for='name')
                                  | Title of your review
                                  em *
                                input#name.form-control(type='text' name='name' placeholder='Beautiful place!' required='')
                              .form-group
                                label(for='message')
                                  | Your Message
                                  em *
                                textarea#message.form-control(rows='8' name='message' required='' placeholder='Describe your experience')
                              // end form-group
                              .form-group.pull-right
                                button.btn.btn-primary.btn-rounded(type='submit') Send Review
                              // end form-group
                            // end col-md-8
                            .col-md-5
                              .comment-title
                                h4 Rating
                              // end title
                              dl.visitor-rating
                                dt Comfort
                                dd.star-rating.active(data-name='comfort')
                                dt Location
                                dd.star-rating.active(data-name='location')
                                dt Facilities
                                dd.star-rating.active(data-name='facilities')
                                dt Staff
                                dd.star-rating.active(data-name='staff')
                                dt Value for money
                                dd.star-rating.active(data-name='value')
                            // end col-md-4
                          // end row
                        // end comment
                      // end review
                    // end form
                // end col-md-6
                .col-md-4.col-sm-12
                  section
                    .detail-sidebar
                      section.shadow
                        #map-detail.map.height-250px
                        // end map
                        .content
                          .vertical-aligned-elements
                            .element
                              img(src='assets/img/logo-2.png' alt='')
                            .element.text-align-right
                              a.btn.btn-primary.btn-rounded.btn-xs(href='#') Claim
                          hr
                          address
                            figure
                              i.fa.fa-map-marker
                              | 3858 Marion Street
                              br
                              | Morrisville, VT 05661
                            figure
                              i.fa.fa-envelope
                              a(href='#') email@example.com
                            figure
                              i.fa.fa-phone
                              | 316-436-8619
                            figure
                              i.fa.fa-globe
                              a(href='#') www.markysrestaurant.com
                    // end detail-sidebar
                  section
                    h2 Features
                    ul.tags
                      li Wi-Fi
                      li Parking
                      li TV
                      li Alcohol
                      li Vegetarian
                      li Take-out
                      li Balcony
                  section
                    h2 Social Share
                    .social-share
                // end col-md-3
              // end row
            // end col-md-9
            .col-md-3.col-sm-3
              aside.sidebar
                section
                  h2 Search Filter
                  form.form.inputs-underline
                    .form-group
                      input.form-control(type='text' name='keyword' placeholder='Enter keyword')
                    // end form-group
                    .form-group
                      select.form-control.selectpicker(name='location')
                        option(value='') Location
                        option(value='1') New York
                        option(value='2') Washington
                        option(value='3') London
                        option(value='4') Paris
                    // end form-group
                    .form-group
                      select.form-control.selectpicker(name='category')
                        option(value='') Category
                        option(value='1') Restaurant
                        option(value='2') Event
                        option(value='3') Adrenaline
                        option(value='4') Sport
                        option(value='5') Wellness
                    // end form-group
                    .form-group
                      #price-slider.ui-slider(data-value-min='10' data-value-max='400' data-value-type='price' data-currency='$' data-currency-placement='before')
                        .values.clearfix
                          input.value-min(name='value-min[]' readonly='')
                          input.value-max(name='value-max[]' readonly='')
                        .element
                      // end price-slider
                    // end form-group
                    .form-group
                      button.btn.btn-primary.pull-right(type='submit')
                        | Search Now
                        i.fa.fa-search
                    // end form-group
                section
                  h2 Recent Items
                  .item(data-id='1')
                    a(href='detail.html')
                      .description
                        figure Average Price: $8 - $30
                        .label.label-default Restaurant
                        h3 Marky’s Restaurant
                        h4 63 Birch Street
                      // end description
                      .image.bg-transfer
                        img(src='assets/img/items/1.jpg' alt='')
                      // end image
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                  // end item
                  .item(data-id='2')
                    a(href='detail.html')
                      .description
                        .label.label-default Restaurant
                        h3 Ironapple
                        h4 4209 Glenview Drive
                      // end description
                      .image.bg-transfer
                        img(src='assets/img/items/2.jpg' alt='')
                      // end image
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                    // end controls-more
                  // end item
                  .item(data-id='15')
                    figure.ribbon Top
                    a(href='detail.html')
                      .description
                        figure Happy hour: 18:00 - 19:00
                        .label.label-default Bar & Grill
                        h3 Bambi Planet Houseboat Bar& Grill 
                        h4 3857 Losh Lane
                      // end description
                      .image.bg-transfer
                        img(src='assets/img/items/3.jpg' alt='')
                      // end image
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                    // end controls-more
                  // end item
              // end sidebar
            // end col-md-3
        // end container
      // end page-content
      footer#page-footer
        .footer-wrapper
          .block
            .container
              .vertical-aligned-elements
                .element.width-50
                  p(data-toggle='modal' data-target='#myModal')
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam at neque sit amet vestibulum. 
                    a(href='#') Terms of Use
                    |  and 
                    a(href='#') Privacy Policy
                    | .
                .element.width-50.text-align-right
                  a.circle-icon(href='#')
                    i.social_twitter
                  a.circle-icon(href='#')
                    i.social_facebook
                  a.circle-icon(href='#')
                    i.social_youtube
              .background-wrapper
                .bg-transfer.opacity-50
                  img(src='assets/img/footer-bg.png' alt='')
              // end background-wrapper
          .footer-navigation
            .container
              .vertical-aligned-elements
                .element.width-50 (C) 2016 Your Company, All right reserved
                .element.width-50.text-align-right
                  a(href='index.html') Home
                  a(href='listing-grid-right-sidebar.html') Listings
                  a(href='submit.html') Submit Item
                  a(href='contact.html') Contact
      // end page-footer
    // end page-wrapper
    script(type='text/javascript' src='assets/js/jquery-2.2.1.min.js')
    script(type='text/javascript' src='assets/js/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript' src='assets/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript' src='assets/js/bootstrap-select.min.js')
    script(type='text/javascript' src='http://maps.google.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58&libraries=places')
    script(type='text/javascript' src='assets/js/richmarker-compiled.js')
    script(type='text/javascript' src='assets/js/jquery.validate.min.js')
    script(type='text/javascript' src='assets/js/jquery.nouislider.all.min.js')
    script(type='text/javascript' src='assets/js/owl.carousel.min.js')
    script(type='text/javascript' src='assets/js/custom.js')
    script(type='text/javascript' src='assets/js/maps.js')
    script.
      rating(".visitor-rating");
      var _latitude = 40.7344458;
      var _longitude = -73.86704922;
      var element = "map-detail";
      simpleMap(_latitude,_longitude, element);
