doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content='ThemeStarz')
    link(href='assets/fonts/font-awesome.css' rel='stylesheet' type='text/css')
    link(href='assets/fonts/elegant-fonts.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.css' type='text/css')
    link(rel='stylesheet' href='assets/css/owl.carousel.css' type='text/css')
    link(rel='stylesheet' href='assets/css/bootstrap-select.min.css' type='text/css')
    link(rel='stylesheet' href='assets/css/style.css' type='text/css')
    title Locations - Directory Listing HTML Template
  body
    .page-wrapper
      header#page-header
        nav
          .left
            a.brand(href='index.html')
              img(src='assets/img/logo.png' alt='')
          // end left
          .right
            .primary-nav.has-mega-menu
              ul.navigation
                li.active.has-child
                  a(href='#nav-homepages') Home
                  .wrapper
                    #nav-homepages.nav-wrapper
                      ul
                        li
                          a(href='index-map-version-1.html') Map Full Screen Sidebar Results
                        li
                          a(href='index-map-version-2.html') Map Horizontal Form
                        li
                          a(href='index-map-version-3.html') Map Full Screen Form in Sidebar
                        li
                          a(href='index-map-version-4.html') Map Form Under
                        li
                          a(href='index-hero-version-1.html') Hero One Input Form
                        li
                          a(href='index-hero-version-2.html') Hero Multiple Inputs
                        li
                          a(href='index-hero-version-3.html') Hero Form Under
                        li
                          a(href='index-hero-version-4.html') Hero Full Screen Slider
                li.has-child
                  a(href='#nav-listing') Listing
                  .wrapper
                    #nav-listing.nav-wrapper
                      ul
                        li.has-child
                          a(href='#nav-grid-listing') Grid Listing
                          #nav-grid-listing.nav-wrapper
                            ul
                              li
                                a(href='listing-grid-right-sidebar.html') With Right Sidebar
                              li
                                a(href='listing-grid-left-sidebar.html') With Left Sidebar
                              li
                                a(href='listing-grid-full-width.html') Full Width
                              li
                                a(href='listing-grid-different-widths.html') Different Widths
                              li
                                a(href='listing-grid-3-items.html') 3 Items in Row
                              li
                                a(href='listing-grid-4-items.html') 4 Items in Row
                        li.has-child
                          a(href='#nav-row-listing') Row Listing
                          #nav-row-listing.nav-wrapper
                            ul
                              li
                                a(href='listing-row-right-sidebar.html') Row Right Sidebar
                              li
                                a(href='listing-row-left-sidebar.html') Row Left Sidebar
                li.mega-menu-parent.has-child
                  a(href='#nav-pages') Pages
                  .wrapper
                    .mega-menu
                      #nav-pages.nav-wrapper
                        .container
                          .row
                            .col-md-3.col-sm-3
                              h4.heading General
                              ul
                                li
                                  a(href='faq.html') Faq
                                li
                                  a(href='pricing.html') Pricing
                                li
                                  a(href='submit.html') Submit Listing
                                li
                                  a(href='detail.html') Listing Detail
                                li
                                  a(href='detail-2.html') Listing Detail v2
                            // end col-md-3
                            .col-md-3.col-sm-3
                              h4.heading User
                              ul
                                li
                                  a(href='profile.html') Profile Edit
                                li
                                  a(href='sign-in.html') Sign In
                                li
                                  a(href='register.html') Register
                                li
                                  a(href='reset-password.html') Reset Password
                                li
                                  a(href='my-listings.html') My Listings
                                li
                                  a(href='edit-listing.html') Edit Listing
                                li
                                  a(href='reviews.html') Reviews
                            // end col-md-3
                            .col-md-3.col-sm-3
                              h4.heading Other
                              ul
                                li
                                  a(href='elements.html') Elements / Shortcodes
                                li
                                  a(href='404.html') 404 Error Page
                                li
                                  a(href='sticky-footer.html') Sticky Footer
                                li
                                  a(href='terms-and-conditions.html') Terms & Conditions
                                li
                                  a(href='grid-system.html') Grid System
                            // end col-md-3
                            .col-md-3.col-sm-3
                              .image.center.overlay
                                .vertical-aligned-elements
                                  .element
                                    a.btn.btn-default.btn-framed(href='#') Submit Your Listing
                                .bg-transfer
                                  img(src='assets/img/items/10.jpg' alt='')
                            // end col-md-3
                          // end row
                        // end container
                      // end collapse
                    // end wrapper
                  // end mega-menu
                li.has-child
                  a(href='#nav-locations') Locations
                  .wrapper
                    #nav-locations.nav-wrapper
                      ul
                        li.has-child
                          a(href='#nav-locations-new-york') New York
                          #nav-locations-new-york.nav-wrapper
                            ul
                              li.has-child
                                a(href='#nav-4') Manhattan
                                #nav-4.nav-wrapper
                                  ul
                                    li
                                      a(href='#') 1
                                    li
                                      a(href='#') 2
                                    li
                                      a(href='#') 3
                                    li
                                      a(href='#') 4
                              li
                                a(href='#') Brooklyn
                              li
                                a(href='#') Staten Island
                        li.has-child
                          a(href='#nav-5') London
                          #nav-5.nav-wrapper
                            ul
                              li
                                a(href='#') Abbey Wood
                              li
                                a(href='#') Bayswater
                              li
                                a(href='#') Forestdale
                        li.has-child
                          a(href='#nav-6') Paris
                          #nav-6.nav-wrapper
                            ul
                              li
                                a(href='#') Louvre
                              li
                                a(href='#') Bourse
                              li
                                a(href='#') Marais
                    // end nav-wrapper
                  // end wrapper
                li
                  a(href='blog.html') Blog
                li
                  a(href='contact.html') Contact
              // end navigation
            // end primary-nav
            .secondary-nav
              a(href='#' data-modal-external-file='modal_sign_in.php' data-target='modal-sign-in') Sign In
              a.promoted(href='#' data-modal-external-file='modal_register.php' data-target='modal-register') Register
            // end secondary-nav
            a.btn.btn-primary.btn-small.btn-rounded.icon.shadow.add-listing(href='#' data-modal-external-file='modal_submit.php' data-target='modal-submit')
              i.fa.fa-plus
              span Add listing
            .nav-btn
              i
              i
              i
            // end nav-btn
          // end right
        // end nav
      // end page-header
      #page-content
        .container
          ol.breadcrumb
            li
              a(href='#') Home
            li
              a(href='#') Pages
            li.active Contact
          // end breadcrumb
          section.page-title.center
            h1 Edit Listing
          // end page-title
          section
            .row
              .col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
                form.form.inputs-underline(enctype='multipart/form-data')
                  section
                    h3 About
                    .row
                      .col-md-9.col-sm-9
                        .form-group
                          label(for='title') Listing Title
                          input#title.form-control(type='text' name='title' placeholder='Title' value="Marky's Restaurant")
                        // end form-group
                      // end col-md-9
                      .col-md-3.col-sm-3
                        .form-group
                          label(for='category') Category
                          select#category.form-control.selectpicker(name='category')
                            option(value='1') Restaurant
                            option(value='') Category
                            option(value='2') Event
                            option(value='3') Adrenaline
                            option(value='4') Sport
                            option(value='5') Wellness
                        // end form-group
                      // col-md-3
                    // end row
                    .form-group
                      label(for='description') Description
                      textarea#description.form-control(rows='4' name='description')
                        | Nunc vitae consectetur orci, eu consequat magna. Fusce tortor ex, feugiat sed ipsum accumsan, ornare suscipit nibh. Mauris scelerisque euismod elit nec auctor. Nulla eu turpis pharetra, finibus turpis consectetur, porttitor sapien. Curabitur ornare euismod congue. Nunc quis placerat risus.
                    // end form-group
                    .form-group
                      label(for='tags') Tags
                      input#tags.form-control(type='text' name='tags' value='Free Wi-Fi, Parking, TV, Vegetarian')
                    // end form-group
                  section
                    h3 Contact
                    .row
                      .col-md-6.col-sm-6
                        .form-group
                          label(for='address-autocomplete') Address
                          input#address-autocomplete.form-control(type='text' name='address' value='63 Birch Street, London')
                        // end form-group
                        #map-submit.map.height-200px.shadow
                        // end map
                        .form-group.hidden
                          input#latitude.form-control(type='text' name='latitude' hidden='')
                          input#longitude.form-control(type='text' name='longitude' hidden='')
                        p.note Enter the exact address or drag the map marker to position
                      // end col-md-6
                      .col-md-6.col-sm-6
                        .form-group
                          label(for='region') Listing Region
                          select#region.form-control.selectpicker(name='region')
                            option(value='3') London
                            option(value='') Select Region
                            option(value='1') New York
                            option(value='2') Washington
                            option(value='4') Paris
                        // end form-group
                        .form-group
                          label(for='phone') Listing Phone
                          input#phone.form-control(type='text' name='phone' value='361-492-2356')
                        // end form-group
                        .form-group
                          label(for='email') Listing Email
                          input#email.form-control(type='email' name='email' value='hello@markys.com')
                        // end form-group
                        .form-group
                          label(for='website') Listing Website
                          input#website.form-control(type='text' name='website' value='http://www.markys.com')
                        // end form-group
                      // end col-md-6
                  section
                    h3 Gallery
                    .file-uploaded-images
                      .image
                        figure
                          i.fa.fa-close
                        img(src='assets/img/items/1.jpg' alt='')
                      .image
                        figure
                          i.fa.fa-close
                        img(src='assets/img/items/2.jpg' alt='')
                      .image
                        figure
                          i.fa.fa-close
                        img(src='assets/img/items/4.jpg' alt='')
                    .file-upload-previews
                    .file-upload
                      input.file-upload-input.with-preview(type='file' name='files[]' multiple='' title='Click to add files' maxlength='10' accept='gif|jpg|png')
                      span Click or drag images here
                    .form-group
                      label(for='video') Video URL
                      input#video.form-control(type='text' name='video' placeholder='http://')
                    // end form-group
                  section
                    h3 Social
                    .row
                      .col-md-6.col-sm-6
                        .form-group
                          label(for='facebook') Facebook URL
                          input#facebook.form-control(type='text' name='facebook' value='http://www.facebook.com/markys-restaurant')
                        // end form-group
                        .form-group
                          label(for='youtube') Youtube URL
                          input#youtube.form-control(type='text' name='youtube' value='http://www.youtube.com/markys-restaurant')
                        // end form-group
                      // end col-md-6
                      .col-md-6.col-sm-6
                        .form-group
                          label(for='twitter') Twitter URL
                          input#twitter.form-control(type='text' name='twitter' value='http://www.twitter.com/markys-restaurant')
                        // end form-group
                        .form-group
                          label(for='pinterest') Pinterest URL
                          input#pinterest.form-control(type='text' name='pinterest' placeholder='http://')
                        // end form-group
                      // end col-md-6
                    // end row
                  section
                    h3
                      | Opening Hours
                      span.note (optional)
                    #accordion.panel-group(role='tablist' aria-multiselectable='true')
                      .panel.panel-default
                        #accordion-heading-1.panel-heading(role='tab')
                          h4.panel-title
                            a(role='button' data-toggle='collapse' data-parent='#accordion' href='#accordion-collapse-1' aria-expanded='false' aria-controls='accordion-collapse-1')
                              i.fa.fa-clock-o
                              | Add opening hours
                        // end panel-heading
                        #accordion-collapse-1.panel-collapse.collapse.in(role='tabpanel' aria-labelledby='accordion-heading-1')
                          .panel-body
                            .row
                              .col-md-4.col-sm-4.horizontal-input-title
                                strong Monday
                              // end col-md-4
                              .col-md-4.col-sm-4
                                .form-group
                                  input.form-control(type='text' name='open_hours[]' value='08:00')
                                // end form-group
                              // end col-md-4
                              .col-md-4.col-sm-4
                                .form-group
                                  input.form-control(type='text' name='close_hours[]' value='20:00')
                                // end form-group
                              // end col-md-4
                            // end row
                            .row
                              .col-md-4.col-sm-4.horizontal-input-title
                                strong Tuesday
                              // end col-md-4
                              .col-md-4.col-sm-4
                                .form-group
                                  input.form-control(type='text' name='open_hours[]' value='08:00')
                                // end form-group
                              // end col-md-4
                              .col-md-4.col-sm-4
                                .form-group
                                  input.form-control(type='text' name='close_hours[]' value='20:00')
                                // end form-group
                              // end col-md-4
                            // end row
                            .row
                              .col-md-4.col-sm-4.horizontal-input-title
                                strong Wednesday
                              // end col-md-4
                              .col-md-4.col-sm-4
                                .form-group
                                  input.form-control(type='text' name='open_hours[]' value='08:00')
                                // end form-group
                              // end col-md-4
                              .col-md-4.col-sm-4
                                .form-group
                                  input.form-control(type='text' name='close_hours[]' value='20:00')
                                // end form-group
                              // end col-md-4
                            // end row
                            .row
                              .col-md-4.col-sm-4.horizontal-input-title
                                strong Thursday
                              // end col-md-4
                              .col-md-4.col-sm-4
                                .form-group
                                  input.form-control(type='text' name='open_hours[]' value='08:00')
                                // end form-group
                              // end col-md-4
                              .col-md-4.col-sm-4
                                .form-group
                                  input.form-control(type='text' name='close_hours[]' value='20:00')
                                // end form-group
                              // end col-md-4
                            // end row
                            .row
                              .col-md-4.col-sm-4.horizontal-input-title
                                strong Friday
                              // end col-md-4
                              .col-md-4.col-sm-4
                                .form-group
                                  input.form-control(type='text' name='open_hours[]' value='08:00')
                                // end form-group
                              // end col-md-4
                              .col-md-4.col-sm-4
                                .form-group
                                  input.form-control(type='text' name='close_hours[]' value='24:00')
                                // end form-group
                              // end col-md-4
                            // end row
                            .row
                              .col-md-4.col-sm-4.horizontal-input-title
                                strong Saturday
                              // end col-md-4
                              .col-md-4.col-sm-4
                                .form-group
                                  input.form-control(type='text' name='open_hours[]' value='10:00')
                                // end form-group
                              // end col-md-4
                              .col-md-4.col-sm-4
                                .form-group
                                  input.form-control(type='text' name='close_hours[]' value='22:00')
                                // end form-group
                              // end col-md-4
                            // end row
                            .row
                              .col-md-4.col-sm-4.horizontal-input-title
                                strong Sunday
                              // end col-md-4
                              .col-md-4.col-sm-4
                                .form-group
                                  input.form-control(type='text' name='open_hours[]' value='08:00')
                                // end form-group
                              // end col-md-4
                              .col-md-4.col-sm-4
                                .form-group
                                  input.form-control(type='text' name='close_hours[]' value='20:00')
                                // end form-group
                              // end col-md-4
                            // end row
                        // end panel-collapse
                      // end panel
                    // end panel-group
                  section
                    h3
                      | Restaurant Menu
                      span.note (optional)
                    #accordion-2.panel-group(role='tablist' aria-multiselectable='true')
                      .panel.panel-default
                        #accordion-heading-2.panel-heading(role='tab')
                          h4.panel-title
                            a(role='button' data-toggle='collapse' data-parent='#accordion-2' href='#accordion-collapse-2' aria-expanded='false' aria-controls='accordion-collapse-2')
                              i.fa.fa-cutlery
                              | Add restaurant menu
                        // end panel-heading
                        #accordion-collapse-2.panel-collapse.collapse(role='tabpanel' aria-labelledby='accordion-heading-2')
                          .panel-body
                            .wrapper
                              .row
                                .col-md-3.col-sm-3
                                  strong Title 
                                  span.note (Optional)
                                .col-md-6.col-sm-6
                                  strong Description
                                .col-md-3.col-sm-3
                                  strong Meal Type
                              // end row
                              .row
                                .col-md-3.col-sm-3
                                  .form-group
                                    input.form-control(type='text' name='menu_title[]' placeholder='Title')
                                  // end form-group
                                // end col-sm-3
                                .col-md-6.col-sm-6
                                  .form-group
                                    input.form-control(type='text' name='menu_description[]' placeholder='Description')
                                  // end form-group
                                // end col-sm-6
                                .col-md-3.col-sm-3
                                  .form-group
                                    select.form-control.selectpicker(name='menu_type[]')
                                      option(value='') Select meal type
                                      option(value='1') Starter
                                      option(value='2') Soup
                                      option(value='3') Main Course
                                      option(value='4') Desert
                                  // end form-group
                                // end col-sm-3
                              // end row
                              .row
                                .col-md-3.col-sm-3
                                  .form-group
                                    input.form-control(type='text' name='menu_title[]' placeholder='Title')
                                  // end form-group
                                // end col-sm-3
                                .col-md-6.col-sm-6
                                  .form-group
                                    input.form-control(type='text' name='menu_description' placeholder='Description')
                                  // end form-group
                                // end col-sm-6
                                .col-md-3.col-sm-3
                                  .form-group
                                    select.form-control.selectpicker(name='menu_type[]')
                                      option(value='') Select meal type
                                      option(value='1') Starter
                                      option(value='2') Soup
                                      option(value='3') Main Course
                                      option(value='4') Desert
                                  // end form-group
                                // end col-sm-3
                              // end row
                              #duplicate-meal.row
                                .col-md-3.col-sm-3
                                  .form-group
                                    input.form-control(type='text' name='menu_title[]' placeholder='Title')
                                  // end form-group
                                // end col-sm-3
                                .col-md-6.col-sm-6
                                  .form-group
                                    input.form-control(type='text' name='menu_description' placeholder='Description')
                                  // end form-group
                                // end col-sm-6
                                .col-md-3.col-sm-3
                                  .form-group
                                    select.form-control.selectpicker(name='menu_type[]')
                                      option(value='') Select meal type
                                      option(value='1') Starter
                                      option(value='2') Soup
                                      option(value='3') Main Course
                                      option(value='4') Desert
                                  // end form-group
                                // end col-sm-3
                              // end row
                            // end wrapper
                            .center
                              a.btn.btn-rounded.btn-primary.btn-framed.btn-light-frame.btn-xs.icon.duplicate(href='#duplicate-meal')
                                i.fa.fa-plus
                                | Add another meal
                          // end panel-body
                        // end panel-collapse
                      // end panel
                    // end panel-group
                  section
                    h3
                      | Schedule
                      span.note (optional)
                    #accordion-3.panel-group(role='tablist' aria-multiselectable='true')
                      .panel.panel-default
                        #accordion-heading-3.panel-heading(role='tab')
                          h4.panel-title
                            a(role='button' data-toggle='collapse' data-parent='#accordion-3' href='#accordion-collapse-3' aria-expanded='false' aria-controls='accordion-collapse-3')
                              i.fa.fa-calendar
                              | Add schedule plan
                        // end panel-heading
                        #accordion-collapse-3.panel-collapse.collapse(role='tabpanel' aria-labelledby='accordion-heading-3')
                          .panel-body
                            .wrapper
                              .row
                                .col-md-2.col-sm-3
                                  strong Date
                                // end col-md-2
                                .col-md-2.col-sm-3
                                  strong Time
                                // end col-md-2
                                .col-md-4.col-sm-3
                                  strong Place
                                // end col-md-3
                                .col-md-4.col-sm-3
                                  strong Address
                                // end col-md-4
                              #duplicate-schedule.row
                                .col-md-2.col-sm-3
                                  .form-group
                                    input.form-control(type='text' name='schedule_date[]' placeholder='Date')
                                  // end form-group
                                // end col-md-2
                                .col-md-2.col-sm-3
                                  .form-group
                                    input.form-control(type='text' name='schedule_time[]' placeholder='Time')
                                  // end form-group
                                // end col-md-2
                                .col-md-4.col-sm-3
                                  .form-group
                                    input.form-control(type='text' name='schedule_place[]' placeholder='Place')
                                  // end form-group
                                // end col-md-3
                                .col-md-4.col-sm-3
                                  .form-group
                                    input.form-control(type='text' name='schedule_address[]' placeholder='Address')
                                  // end form-group
                                // end col-md-4
                              // end row
                            // end wrapper
                            .center
                              a.btn.btn-rounded.btn-primary.btn-framed.btn-light-frame.btn-xs.icon.duplicate(href='#duplicate-schedule')
                                i.fa.fa-plus
                                | Add another schedule item
                          // end panel-body
                        // end panel-collapse
                      // end panel
                    // end panel-group
                  hr
                  section.center
                    .form-group
                      button.btn.btn-primary.btn-rounded(type='submit') Preview & Submit Listing
                    // end form-group
                // end form
              // end col-md-6
            // end row
        // end container
      // end page-content
      footer#page-footer
        .footer-wrapper
          .block
            .container
              .vertical-aligned-elements
                .element.width-50
                  p(data-toggle='modal' data-target='#myModal')
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam at neque sit amet vestibulum. 
                    a(href='#') Terms of Use
                    |  and 
                    a(href='#') Privacy Policy
                    | .
                .element.width-50.text-align-right
                  a.circle-icon(href='#')
                    i.social_twitter
                  a.circle-icon(href='#')
                    i.social_facebook
                  a.circle-icon(href='#')
                    i.social_youtube
              .background-wrapper
                .bg-transfer.opacity-50
                  img(src='assets/img/footer-bg.png' alt='')
              // end background-wrapper
          .footer-navigation
            .container
              .vertical-aligned-elements
                .element.width-50 (C) 2016 Your Company, All right reserved
                .element.width-50.text-align-right
                  a(href='index.html') Home
                  a(href='listing-grid-right-sidebar.html') Listings
                  a(href='submit.html') Submit Item
                  a(href='contact.html') Contact
      // end page-footer
    // end page-wrapper
    script(type='text/javascript' src='assets/js/jquery-2.2.1.min.js')
    script(type='text/javascript' src='assets/js/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript' src='assets/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript' src='assets/js/bootstrap-select.min.js')
    script(type='text/javascript' src='http://maps.google.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58&libraries=places')
    script(type='text/javascript' src='assets/js/richmarker-compiled.js')
    script(type='text/javascript' src='assets/js/owl.carousel.min.js')
    script(type='text/javascript' src='assets/js/jquery.validate.min.js')
    script(type='text/javascript' src='assets/js/jQuery.MultiFile.min.js')
    script(type='text/javascript' src='assets/js/custom.js')
    script(type='text/javascript' src='assets/js/maps.js')
    script.
      var _latitude = 40.7344458;
      var _longitude = -73.86704922;
      var element = "map-submit";
      simpleMap(_latitude,_longitude, element, true);
