doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content='ThemeStarz')
    link(href='assets/fonts/font-awesome.css' rel='stylesheet' type='text/css')
    link(href='assets/fonts/elegant-fonts.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.css' type='text/css')
    link(rel='stylesheet' href='assets/css/owl.carousel.css' type='text/css')
    link(rel='stylesheet' href='assets/css/style.css' type='text/css')
    style.
      .section-title h2 { border-bottom: 2px solid #eeeeee; padding-bottom: 20px; padding-top: 30px; }
      .links a { margin-right: 20px; }
    title Locations - Directory Listing HTML Template
  body
    .page-wrapper
      header#page-header
        nav
          .left
            a.brand(href='index.html')
              img(src='assets/img/logo.png' alt='')
          // end left
          .right
            .primary-nav.has-mega-menu
              ul.navigation
                li.active.has-child
                  a(href='#nav-homepages') Home
                  .wrapper
                    #nav-homepages.nav-wrapper
                      ul
                        li
                          a(href='index-map-version-1.html') Map Full Screen Sidebar Results
                        li
                          a(href='index-map-version-2.html') Map Horizontal Form
                        li
                          a(href='index-map-version-3.html') Map Full Screen Form in Sidebar
                        li
                          a(href='index-map-version-4.html') Map Form Under
                        li
                          a(href='index-hero-version-1.html') Hero One Input Form
                        li
                          a(href='index-hero-version-2.html') Hero Multiple Inputs
                        li
                          a(href='index-hero-version-3.html') Hero Form Under
                        li
                          a(href='index-hero-version-4.html') Hero Full Screen Slider
                li.has-child
                  a(href='#nav-listing') Listing
                  .wrapper
                    #nav-listing.nav-wrapper
                      ul
                        li.has-child
                          a(href='#nav-grid-listing') Grid Listing
                          #nav-grid-listing.nav-wrapper
                            ul
                              li
                                a(href='listing-grid-right-sidebar.html') With Right Sidebar
                              li
                                a(href='listing-grid-left-sidebar.html') With Left Sidebar
                              li
                                a(href='listing-grid-full-width.html') Full Width
                              li
                                a(href='listing-grid-different-widths.html') Different Widths
                              li
                                a(href='listing-grid-3-items.html') 3 Items in Row
                              li
                                a(href='listing-grid-4-items.html') 4 Items in Row
                        li.has-child
                          a(href='#nav-row-listing') Row Listing
                          #nav-row-listing.nav-wrapper
                            ul
                              li
                                a(href='listing-row-right-sidebar.html') Row Right Sidebar
                              li
                                a(href='listing-row-left-sidebar.html') Row Left Sidebar
                li.mega-menu-parent.has-child
                  a(href='#nav-pages') Pages
                  .wrapper
                    .mega-menu
                      #nav-pages.nav-wrapper
                        .container
                          .row
                            .col-md-3.col-sm-3
                              h4.heading General
                              ul
                                li
                                  a(href='faq.html') Faq
                                li
                                  a(href='pricing.html') Pricing
                                li
                                  a(href='submit.html') Submit Listing
                                li
                                  a(href='detail.html') Listing Detail
                                li
                                  a(href='detail-2.html') Listing Detail v2
                            // end col-md-3
                            .col-md-3.col-sm-3
                              h4.heading User
                              ul
                                li
                                  a(href='profile.html') Profile Edit
                                li
                                  a(href='sign-in.html') Sign In
                                li
                                  a(href='register.html') Register
                                li
                                  a(href='reset-password.html') Reset Password
                                li
                                  a(href='my-listings.html') My Listings
                                li
                                  a(href='edit-listing.html') Edit Listing
                                li
                                  a(href='reviews.html') Reviews
                            // end col-md-3
                            .col-md-3.col-sm-3
                              h4.heading Other
                              ul
                                li
                                  a(href='elements.html') Elements / Shortcodes
                                li
                                  a(href='404.html') 404 Error Page
                                li
                                  a(href='sticky-footer.html') Sticky Footer
                                li
                                  a(href='terms-and-conditions.html') Terms & Conditions
                                li
                                  a(href='grid-system.html') Grid System
                            // end col-md-3
                            .col-md-3.col-sm-3
                              .image.center.overlay
                                .vertical-aligned-elements
                                  .element
                                    a.btn.btn-default.btn-framed(href='#') Submit Your Listing
                                .bg-transfer
                                  img(src='assets/img/items/10.jpg' alt='')
                            // end col-md-3
                          // end row
                        // end container
                      // end collapse
                    // end wrapper
                  // end mega-menu
                li.has-child
                  a(href='#nav-locations') Locations
                  .wrapper
                    #nav-locations.nav-wrapper
                      ul
                        li.has-child
                          a(href='#nav-locations-new-york') New York
                          #nav-locations-new-york.nav-wrapper
                            ul
                              li.has-child
                                a(href='#nav-4') Manhattan
                                #nav-4.nav-wrapper
                                  ul
                                    li
                                      a(href='#') 1
                                    li
                                      a(href='#') 2
                                    li
                                      a(href='#') 3
                                    li
                                      a(href='#') 4
                              li
                                a(href='#') Brooklyn
                              li
                                a(href='#') Staten Island
                        li.has-child
                          a(href='#nav-5') London
                          #nav-5.nav-wrapper
                            ul
                              li
                                a(href='#') Abbey Wood
                              li
                                a(href='#') Bayswater
                              li
                                a(href='#') Forestdale
                        li.has-child
                          a(href='#nav-6') Paris
                          #nav-6.nav-wrapper
                            ul
                              li
                                a(href='#') Louvre
                              li
                                a(href='#') Bourse
                              li
                                a(href='#') Marais
                    // end nav-wrapper
                  // end wrapper
                li
                  a(href='blog.html') Blog
                li
                  a(href='contact.html') Contact
              // end navigation
            // end primary-nav
            .secondary-nav
              a(href='#' data-modal-external-file='modal_sign_in.php' data-target='modal-sign-in') Sign In
              a.promoted(href='#' data-modal-external-file='modal_register.php' data-target='modal-register') Register
            // end secondary-nav
            a.btn.btn-primary.btn-small.btn-rounded.icon.shadow.add-listing(href='#' data-modal-external-file='modal_submit.php' data-target='modal-submit')
              i.fa.fa-plus
              span Add listing
            .nav-btn
              i
              i
              i
            // end nav-btn
          // end right
        // end nav
      // end page-header
      #page-content
        .container
          ol.breadcrumb
            li
              a(href='#') Home
            li
              a(href='#') Pages
            li.active Contact
          // end breadcrumb
          section.page-title
            h1 Elements
          // end page-title
          section
            .row
              .col-md-4.col-sm-4
                .section-title
                  h2 Headings
                h1 Heading 1
                h2 Heading 2
                h3 Heading 3
                h4 Heading 4
              .col-md-4.col-sm-4
                .section-title
                  h2 Paragraph
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lacinia odio sed lorem ultricies
                  | feugiat. Maecenas feugiat, tortor et semper pulvinar, lectus sapien posuere ligula,
                .section-title
                  h2 Links
                  .links
                    a(href='#') Classic link
                    a.link(href='#') Link
                    a.link.arrow(href='#') Link with arrow
                    br
                    a.icon(href='#')
                      | Classic link with icon 
                      i.fa.fa-map-marker
                    a.link.font-color-dark(href='#') Dark link
              .col-md-4.col-sm-4
                .section-title
                  h2 Modals
                h4 This link will open external Sign In modal window
                a(href='#' data-modal-external-file='modal_sign_in.php' data-target='modal-sign-in') Sign In Modal
                br
                br
                pre.
                  \n<a href="#"                   >Sign In</a>
                                    
          section
            .section-title
              h2 Item Grid
            .row
              .col-md-3.col-sm-3
                .item(data-id='1')
                  figure.price $690
                  figure.circle.featured.sale -25%
                  figure.ribbon Top
                  a(href='detail.html')
                    .description
                      figure Average Price: $8 - $30
                      .label.label-default Restaurant
                      h3 Marky’s Restaurant
                      h4 63 Birch Street
                    // end description
                    .image.bg-transfer
                      img(src='assets/img/items/1.jpg' alt='')
                    // end image
                  .additional-info
                    .rating-passive(data-rating='4')
                      span.stars
                      span.reviews 6
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                    // end controls-more
                  // end additional-info
                // end item
              // <end col-md-3
              .col-md-3.col-sm-3
                .item(data-id='2')
                  a(href='detail.html')
                    .description
                      .label.label-default Restaurant
                      h3 Ironapple
                      h4 4209 Glenview Drive
                    // end description
                    .image.bg-transfer
                      img(src='assets/img/items/2.jpg' alt='')
                    // end image
                  .additional-info
                    .rating-passive(data-rating='3')
                      span.stars
                      span.reviews 13
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                    // end controls-more
                  // end additional-info
                // end item
              // <end col-md-3
              .col-md-3.col-sm-3
                .item(data-id='15')
                  figure.ribbon Top
                  a(href='detail.html')
                    .description
                      figure Happy hour: 18:00 - 19:00
                      .label.label-default Bar & Grill
                      h3 Bambi Planet Houseboat Bar& Grill 
                      h4 3857 Losh Lane
                    // end description
                    .image.bg-transfer
                      img(src='assets/img/items/3.jpg' alt='')
                    // end image
                  .additional-info
                    figure.circle(title='Featured')
                      i.fa.fa-check
                    .rating-passive(data-rating='5')
                      span.stars
                      span.reviews 56
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                    // end controls-more
                  // end additional-info
                // end item
              // <end col-md-3
              .col-md-3.col-sm-3
                .item(data-id='3')
                  figure.ribbon Top
                  a(href='detail.html')
                    .description
                      figure Starts at: 19:00
                      .label.label-default Event
                      h3 Food Festival
                      h4 840 My Drive
                    // end description
                    .image.bg-transfer
                      img(src='assets/img/items/4.jpg' alt='')
                    // end image
                  .additional-info
                    figure.circle(title='Featured')
                      i.fa.fa-check
                    .rating-passive(data-rating='5')
                      span.stars
                      span.reviews 12
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                    // end controls-more
                  // end additional-info
                // end item
              // <end col-md-4
            // end row
          section
            .section-title
              h2 Items Row
              .item.item-row(data-id='1' data-latitude='40.72807182' data-longitude='-73.85735035')
                a(href='detail.html')
                  .image.bg-transfer
                    figure Average Price: $8 - $30
                    img(src='assets/img/items/1.jpg' alt='')
                  // end image
                  .map
                  .description
                    h3 Marky’s Restaurant
                    h4 63 Birch Street
                    .label.label-default Restaurant
                  // end description
                  .additional-info
                    .rating-passive(data-rating='4')
                      span.stars
                      span.reviews 6
                  // end additional-info
                .controls-more
                  ul
                    li
                      a(href='#') Add to favorites
                    li
                      a(href='#') Add to watchlist
                    li
                      a.quick-detail(href='#') Quick detail
                // end controls-more
              // end item.row
          section
            .section-title
              h2 Buttons
            div(style='background-color: black; padding: 20px')
              a.btn.btn-default(href='#') btn-default
              a.btn.btn-default.btn-rounded(href='#') btn-default btn-rounded
              a.btn.btn-default.btn-framed.btn-rounded(href='#') btn-default btn-framed btn-rounded
              a.btn.btn-default.btn-framed.btn-rounded.btn-light-frame(href='#') btn-default btn-framed btn-rounded btn-light-frame
            br
            a.btn.btn-primary(href='#') btn-primary
            a.btn.btn-primary.btn-rounded(href='#') btn-primary btn-rounded
            a.btn.btn-primary.btn-framed.btn-rounded(href='#') btn-primary btn-framed btn-rounded
            a.btn.btn-primary.btn-framed.btn-rounded.btn-light-frame(href='#') btn-primary btn-framed btn-rounded btn-light-frame
          section
            .section-title
              h2 Vertically aligned elements
              .vertical-aligned-elements
                .element.width-30
                  h4 This paragraph has width 30%
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lacinia odio sed lorem
                    | ultricies feugiat. Maecenas feugiat, tortor et semper pulvinar, lectus sapien posuere ligula,
                    | vitae tincidunt sapien est in tortor. Praesent tincidunt vestibulum tincidunt. Cras ac egestas
                    | nulla. Proin viverra urna porta nulla sagittis varius.
                .element
                  h3 Both elements are vertically aligned
          section
            .section-title
              h2 Forms
            .row
              .col-md-6.col-sm-6
                h3 Inline button and underline inputs
                form#form-subscribe.form.inputs-underline.form-email
                  .input-group
                    input.form-control(type='text' name='email' placeholder='Your email' required='')
                    span.input-group-btn
                      button.btn(type='submit')
                        i.arrow_right
                  // /input-group
                // end form
              .col-md-6.col-sm-6
                h3 Inputs bordered
                form#form-hero.form.form-email
                  .row
                    .col-md-4.col-sm-4
                      .form-group
                        label(for='name') Name
                        input#name.form-control(type='text' name='name')
                      // end form-group
                    // end col-md-4
                    .col-md-4.col-sm-4
                      .form-group
                        label(for='email') Email
                        input#email.form-control(type='email' name='email')
                      // end form-group
                    // end col-md-4
                    .col-md-4.col-sm-4
                      .form-group
                        label(for='subject') Subject
                        input#subject.form-control(type='text' name='subject')
                      // end form-group
                    // end col-md-4
                  // end row
                  .form-group
                    label(for='message') Message
                    textarea#message.form-control(rows='4' name='message')
                  // end form-group
                  .form-group
                    button.btn.btn-primary.icon.shadow(type='submit')
                      | Send Message
                      i.fa.fa-caret-right
                  // end form-group
          section
            .section-title
              h2 Owl Carousel
            h4 Owl Carousel with these data attributes:
            figure data-owl-loop="1"
            figure data-owl-margin="10"
            figure data-owl-items="2"
            figure data-owl-dots="1"
            figure data-owl-nav="0"
            figure data-owl-autoplay="1"
            br
            .owl-carousel(data-owl-loop='1' data-owl-margin='10' data-owl-items='2' data-owl-dots='1' data-owl-nav='0' data-owl-autoplay='1')
              img(src='assets/img/items/1.jpg' alt='')
              img(src='assets/img/items/2.jpg' alt='')
              img(src='assets/img/items/4.jpg' alt='')
              img(src='assets/img/items/5.jpg' alt='')
              img(src='assets/img/items/8.jpg' alt='')
              img(src='assets/img/items/9.jpg' alt='')
          section
            .section-title
              h2 Text Element
            .row
              .col-md-4.col-sm-4
                .text-element
                  h4
                    a(href='blog-detail.html') Lorem ipsum dolor sit amet
                  figure.date 21.06.2015
                  p
                    | Ut nec vulputate enim. Nulla faucibus convallis dui. Donec arcu enim, scelerisque gravida lacus vel, dignissim cursus
                  a(href='blog-detail.html')
                    i.arrow_right
                // end text-element
              // end col-md-4
              .col-md-4.col-sm-4
                .text-element
                  h4
                    a(href='blog-detail.html') Sed et justo ut nibh condimentum lacinia
                  figure.date 13.06.2015
                  p
                    | Donec arcu enim, scelerisque gravida lacus vel, dignissim cursus lectus. Aliquam laoreet purus in iaculis sodales.
                  a(href='blog-detail.html')
                    i.arrow_right
                // end text-element
              // end col-md-4
              .col-md-4.col-sm-4
                .text-element
                  h4
                    a(href='blog-detail.html') Suspendisse varius eros id enim 
                  figure.date 03.04.2015
                  p
                    | Nullam nec turpis blandit, sodales risus vitae, tincidunt velit. Vestibulum ac ipsum tincidunt, vestibulum leo eget,
                  a(href='blog-detail.html')
                    i.arrow_right
                // end text-element
              // end col-md-4
            // end row
          section
            .section-title
              h2 Simple map
            pre.
              \n<script>
                  var _latitude = 40.7344458;
                  var _longitude = -73.86704922;
                  var element = "map-detail";
                  simpleMap(_latitude,_longitude, element);
              </script>
                            
            #map-element.map.height-250px
            // end map
          section
            .section-title
              h2 Pricing Tables
            .row
              .col-md-3.col-sm-3
                .pricing.box.description
                  h2.opacity-30 Package
                  ul
                    li Email Support
                    li Phone Support
                    li Monthly Access to Online Training
                    li Consultation Hours
                    li Profile Builder
                // end pricing-box description
              // end col-md-4
              .col-md-3.col-sm-3
                .pricing.box
                  h2 Silver
                  figure $9.90
                  ul
                    li.available
                      i.icon_check
                    li.available
                      i.icon_check
                    li.not-available
                      i.icon_close
                    li 3 hours
                    li.not-available
                      i.icon_close
                  a.btn.btn-primary.btn-rounded(href='#') Select
                // end pricing-box
              // end col-md-3
              .col-md-3.col-sm-3
                .pricing.box.featured
                  h2 Gold
                  figure $19.90
                  ul
                    li.available
                      i.icon_check
                    li.available
                      i.icon_check
                    li.available
                      i.icon_check
                    li 3 hours
                    li.not-available
                      i.icon_close
                  a.btn.btn-default.btn-rounded(href='#') Select
                // end pricing-box
              // end col-md-3
              .col-md-3.col-sm-3
                .pricing.box
                  h2 Platinum
                  figure $29.90
                  ul
                    li.available
                      i.icon_check
                    li.available
                      i.icon_check
                    li.not-available
                      i.icon_close
                    li 3 hours
                    li.available
                      i.icon_check
                  a.btn.btn-primary.btn-rounded(href='#') Select
                // end pricing-box
              // end col-md-3
            br
            .row
              .col-md-3.col-sm-3
                .pricing.description
                  h2.opacity-30 Package
                  ul
                    li Email Support
                    li Phone Support
                    li Monthly Access to Online Training
                    li Consultation Hours
                    li Profile Builder
                // end pricing-box description
              // end col-md-4
              .col-md-3.col-sm-3
                .pricing
                  h2 Silver
                  figure $9.90
                  ul
                    li.available
                      i.icon_check
                    li.available
                      i.icon_check
                    li.not-available
                      i.icon_close
                    li 3 hours
                    li.not-available
                      i.icon_close
                  a.btn.btn-primary.btn-framed.btn-rounded.btn-light-frame(href='#') Select
                // end pricing-box
              // end col-md-3
              .col-md-3.col-sm-3
                .pricing.featured
                  h2 Gold
                  figure $19.90
                  ul
                    li.available
                      i.icon_check
                    li.available
                      i.icon_check
                    li.available
                      i.icon_check
                    li 3 hours
                    li.not-available
                      i.icon_close
                  a.btn.btn-primary.btn-rounded(href='#') Select
                // end pricing-box
              // end col-md-3
              .col-md-3.col-sm-3
                .pricing
                  h2 Platinum
                  figure $29.90
                  ul
                    li.available
                      i.icon_check
                    li.available
                      i.icon_check
                    li.not-available
                      i.icon_close
                    li 3 hours
                    li.available
                      i.icon_check
                  a.btn.btn-primary.btn-framed.btn-rounded.btn-light-frame(href='#') Select
                // end pricing-box
              // end col-md-3
        // end container
      // end page-content
      footer#page-footer
        .footer-wrapper
          .block
            .container
              .vertical-aligned-elements
                .element.width-50
                  p(data-toggle='modal' data-target='#myModal')
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam at neque sit amet vestibulum. 
                    a(href='#') Terms of Use
                    |  and 
                    a(href='#') Privacy Policy
                    | .
                .element.width-50.text-align-right
                  a.circle-icon(href='#')
                    i.social_twitter
                  a.circle-icon(href='#')
                    i.social_facebook
                  a.circle-icon(href='#')
                    i.social_youtube
              .background-wrapper
                .bg-transfer.opacity-50
                  img(src='assets/img/footer-bg.png' alt='')
              // end background-wrapper
          .footer-navigation
            .container
              .vertical-aligned-elements
                .element.width-50 (C) 2016 Your Company, All right reserved
                .element.width-50.text-align-right
                  a(href='index.html') Home
                  a(href='listing-grid-right-sidebar.html') Listings
                  a(href='submit.html') Submit Item
                  a(href='contact.html') Contact
      // end page-footer
    // end page-wrapper
    script(type='text/javascript' src='assets/js/jquery-2.2.1.min.js')
    script(type='text/javascript' src='assets/js/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript' src='assets/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript' src='assets/js/bootstrap-select.min.js')
    script(type='text/javascript' src='http://maps.google.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58&libraries=places')
    script(type='text/javascript' src='assets/js/richmarker-compiled.js')
    script(type='text/javascript' src='assets/js/owl.carousel.min.js')
    script(type='text/javascript' src='assets/js/jquery.validate.min.js')
    script(type='text/javascript' src='assets/js/custom.js')
    script(type='text/javascript' src='assets/js/maps.js')
    script.
      rating(".visitor-rating");
      var _latitude = 40.7344458;
      var _longitude = -73.86704922;
      var element = "map-element";
      simpleMap(_latitude,_longitude, element);
