doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content='ThemeStarz')
    link(href='assets/fonts/font-awesome.css' rel='stylesheet' type='text/css')
    link(href='assets/fonts/elegant-fonts.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.css' type='text/css')
    link(rel='stylesheet' href='assets/css/zabuto_calendar.min.css' type='text/css')
    link(rel='stylesheet' href='assets/css/owl.carousel.css' type='text/css')
    link(rel='stylesheet' href='assets/css/bootstrap-select.min.css' type='text/css')
    link(rel='stylesheet' href='assets/css/trackpad-scroll-emulator.css' type='text/css')
    link(rel='stylesheet' href='assets/css/jquery.nouislider.min.css' type='text/css')
    link(rel='stylesheet' href='assets/css/style.css' type='text/css')
    title Locations - Directory Listing HTML Template
  body.homepage
    .page-wrapper
      header#page-header
        nav
          .left
            a.brand(href='index.html')
              img(src='assets/img/logo.png' alt='')
          // end left
          .right
            .primary-nav.has-mega-menu
              ul.navigation
                li.active.has-child
                  a(href='#nav-homepages') Home
                  .wrapper
                    #nav-homepages.nav-wrapper
                      ul
                        li
                          a(href='index-map-version-1.html') Map Full Screen Sidebar Results
                        li
                          a(href='index-map-version-2.html') Map Horizontal Form
                        li
                          a(href='index-map-version-3.html') Map Full Screen Form in Sidebar
                        li
                          a(href='index-map-version-4.html') Map Form Under
                        li
                          a(href='index-hero-version-1.html') Hero One Input Form
                        li
                          a(href='index-hero-version-2.html') Hero Multiple Inputs
                        li
                          a(href='index-hero-version-3.html') Hero Form Under
                        li
                          a(href='index-hero-version-4.html') Hero Full Screen Slider
                li.has-child
                  a(href='#nav-listing') Listing
                  .wrapper
                    #nav-listing.nav-wrapper
                      ul
                        li.has-child
                          a(href='#nav-grid-listing') Grid Listing
                          #nav-grid-listing.nav-wrapper
                            ul
                              li
                                a(href='listing-grid-right-sidebar.html') With Right Sidebar
                              li
                                a(href='listing-grid-left-sidebar.html') With Left Sidebar
                              li
                                a(href='listing-grid-full-width.html') Full Width
                              li
                                a(href='listing-grid-different-widths.html') Different Widths
                              li
                                a(href='listing-grid-3-items.html') 3 Items in Row
                              li
                                a(href='listing-grid-4-items.html') 4 Items in Row
                        li.has-child
                          a(href='#nav-row-listing') Row Listing
                          #nav-row-listing.nav-wrapper
                            ul
                              li
                                a(href='listing-row-right-sidebar.html') Row Right Sidebar
                              li
                                a(href='listing-row-left-sidebar.html') Row Left Sidebar
                li.mega-menu-parent.has-child
                  a(href='#nav-pages') Pages
                  .wrapper
                    .mega-menu
                      #nav-pages.nav-wrapper
                        .container
                          .row
                            .col-md-3.col-sm-3
                              h4.heading General
                              ul
                                li
                                  a(href='faq.html') Faq
                                li
                                  a(href='pricing.html') Pricing
                                li
                                  a(href='submit.html') Submit Listing
                                li
                                  a(href='detail.html') Listing Detail
                                li
                                  a(href='detail-2.html') Listing Detail v2
                            // end col-md-3
                            .col-md-3.col-sm-3
                              h4.heading User
                              ul
                                li
                                  a(href='profile.html') Profile Edit
                                li
                                  a(href='sign-in.html') Sign In
                                li
                                  a(href='register.html') Register
                                li
                                  a(href='reset-password.html') Reset Password
                                li
                                  a(href='my-listings.html') My Listings
                                li
                                  a(href='edit-listing.html') Edit Listing
                                li
                                  a(href='reviews.html') Reviews
                            // end col-md-3
                            .col-md-3.col-sm-3
                              h4.heading Other
                              ul
                                li
                                  a(href='elements.html') Elements / Shortcodes
                                li
                                  a(href='404.html') 404 Error Page
                                li
                                  a(href='sticky-footer.html') Sticky Footer
                                li
                                  a(href='terms-and-conditions.html') Terms & Conditions
                                li
                                  a(href='grid-system.html') Grid System
                            // end col-md-3
                            .col-md-3.col-sm-3
                              .image.center.overlay
                                .vertical-aligned-elements
                                  .element
                                    a.btn.btn-default.btn-framed(href='#') Submit Your Listing
                                .bg-transfer
                                  img(src='assets/img/items/10.jpg' alt='')
                            // end col-md-3
                          // end row
                        // end container
                      // end collapse
                    // end wrapper
                  // end mega-menu
                li.has-child
                  a(href='#nav-locations') Locations
                  .wrapper
                    #nav-locations.nav-wrapper
                      ul
                        li.has-child
                          a(href='#nav-locations-new-york') New York
                          #nav-locations-new-york.nav-wrapper
                            ul
                              li.has-child
                                a(href='#nav-4') Manhattan
                                #nav-4.nav-wrapper
                                  ul
                                    li
                                      a(href='#') 1
                                    li
                                      a(href='#') 2
                                    li
                                      a(href='#') 3
                                    li
                                      a(href='#') 4
                              li
                                a(href='#') Brooklyn
                              li
                                a(href='#') Staten Island
                        li.has-child
                          a(href='#nav-5') London
                          #nav-5.nav-wrapper
                            ul
                              li
                                a(href='#') Abbey Wood
                              li
                                a(href='#') Bayswater
                              li
                                a(href='#') Forestdale
                        li.has-child
                          a(href='#nav-6') Paris
                          #nav-6.nav-wrapper
                            ul
                              li
                                a(href='#') Louvre
                              li
                                a(href='#') Bourse
                              li
                                a(href='#') Marais
                    // end nav-wrapper
                  // end wrapper
                li
                  a(href='blog.html') Blog
                li
                  a(href='contact.html') Contact
              // end navigation
            // end primary-nav
            .secondary-nav
              a(href='#' data-modal-external-file='modal_sign_in.php' data-target='modal-sign-in') Sign In
              a.promoted(href='#' data-modal-external-file='modal_register.php' data-target='modal-register') Register
            // end secondary-nav
            a.btn.btn-primary.btn-small.btn-rounded.icon.shadow.add-listing(href='#' data-modal-external-file='modal_submit.php' data-target='modal-submit')
              i.fa.fa-plus
              span Add listing
            .nav-btn
              i
              i
              i
            // end nav-btn
          // end right
        // end nav
      // end page-header
      #page-content
        .hero-section.height-600px.has-map
          .map-wrapper
            #map-homepage.map
          // end map-wrapper
        // end hero-section
        section.block.background-is-dark
          .form.search-form
            .container
              form
                .row
                  .col-md-3.col-sm-2
                    .form-group
                      input.form-control(type='text' name='keyword' placeholder='Enter keyword')
                    // end form-group
                  // end col-md-4
                  .col-md-3.col-sm-4
                    .form-group
                      select.form-control.selectpicker(name='location')
                        option(value='') Location
                        option(value='1') New York
                        option(value='2') Washington
                        option(value='3') London
                        option(value='4') Paris
                    // end form-group
                  // end col-md-4
                  .col-md-3.col-sm-4
                    .form-group
                      select.form-control.selectpicker(name='category')
                        option(value='') Category
                        option(value='1') Restaurant
                        option(value='2') Event
                        option(value='3') Adrenaline
                        option(value='4') Sport
                        option(value='5') Wellness
                    // end form-group
                  // end col-md-4
                  .col-md-2.col-sm-4
                    .form-group
                      input.form-control.date-picker(type='text' name='min-price' placeholder='Event Date')
                    // end form-group
                  // end col-md-4
                  .col-md-1.col-sm-4
                    .form-group
                      button.btn.btn-primary.width-100(type='submit')
                        i.fa.fa-search
                    // end form-group
                  // end col-md-4
                // end row
                .row
                  .col-md-9.col-sm-8
                    ul.checkboxes
                      li
                        .form-group
                          label.no-margin
                            input(type='checkbox' name='1')
                            | Hotel
                        // end form-group
                      li
                        .form-group
                          label.no-margin
                            input(type='checkbox' name='2')
                            | Event
                        // end form-group
                      li
                        .form-group
                          label.no-margin
                            input(type='checkbox' name='3')
                            | Restaurant
                        // end form-group
                      li
                        .form-group
                          label.no-margin
                            input(type='checkbox' name='4')
                            | Trip
                        // end form-group
                      li
                        .form-group
                          label.no-margin
                            input(type='checkbox' name='5')
                            | Concert
                        // end form-group
                      li
                        .form-group
                          label.no-margin
                            input(type='checkbox' name='6')
                            | Adrenaline
                        // end form-group
                      li
                        .form-group
                          label.no-margin
                            input(type='checkbox' name='6')
                            | Wellness
                        // end form-group
                  .col-md-2
                    #price-slider.ui-slider(data-value-min='10' data-value-max='400' data-value-type='price' data-currency='$' data-currency-placement='before')
                      .values.clearfix
                        input.value-min(name='value-min[]' readonly='')
                        input.value-max(name='value-max[]' readonly='')
                      .element
                    // end price-slider
              // end form-hero
            // end container
          // end search-form
          .background-wrapper
            .background-color.background-color-default
            .bg-transfer.opacity-40
              img(src='assets/img/background-04.jpg' alt='')
        .block
          .container
            .center
              .section-title
                .center
                  h2 Recent Places
                  h3.subtitle Fusce eu mollis dui, varius convallis mauris. Nam dictum id
              // end section-title
            // end center
            .row
              .col-md-3.col-sm-3
                .item(data-id='1')
                  a(href='detail.html')
                    .description
                      figure Average Price: $8 - $30
                      .label.label-default Restaurant
                      h3 Marky’s Restaurant
                      h4 63 Birch Street
                    // end description
                    .image.bg-transfer
                      img(src='assets/img/items/1.jpg' alt='')
                    // end image
                  .additional-info
                    .rating-passive(data-rating='4')
                      span.stars
                      span.reviews 6
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                    // end controls-more
                  // end additional-info
                // end item
              // <end col-md-3
              .col-md-3.col-sm-3
                .item(data-id='2')
                  a(href='detail.html')
                    .description
                      .label.label-default Restaurant
                      h3 Ironapple
                      h4 4209 Glenview Drive
                    // end description
                    .image.bg-transfer
                      img(src='assets/img/items/2.jpg' alt='')
                    // end image
                  .additional-info
                    .rating-passive(data-rating='3')
                      span.stars
                      span.reviews 13
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                    // end controls-more
                  // end additional-info
                // end item
              // <end col-md-3
              .col-md-6.col-sm-6
                .item(data-id='15')
                  figure.ribbon Top
                  a(href='detail.html')
                    .description
                      figure Happy hour: 18:00 - 19:00
                      .label.label-default Bar & Grill
                      h3 Bambi Planet Houseboat Bar& Grill 
                      h4 3857 Losh Lane
                    // end description
                    .image.bg-transfer
                      img(src='assets/img/items/3.jpg' alt='')
                    // end image
                  .additional-info
                    figure.circle(title='Featured')
                      i.fa.fa-check
                    .rating-passive(data-rating='5')
                      span.stars
                      span.reviews 56
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                    // end controls-more
                  // end additional-info
                // end item
              // <end col-md-3
              .col-md-4.col-sm-4
                .item(data-id='3')
                  figure.ribbon Top
                  a(href='detail.html')
                    .description
                      figure Starts at: 19:00
                      .label.label-default Event
                      h3 Food Festival
                      h4 840 My Drive
                    // end description
                    .image.bg-transfer
                      img(src='assets/img/items/4.jpg' alt='')
                    // end image
                  .additional-info
                    figure.circle(title='Featured')
                      i.fa.fa-check
                    .rating-passive(data-rating='5')
                      span.stars
                      span.reviews 12
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                    // end controls-more
                  // end additional-info
                // end item
              // <end col-md-4
              .col-md-3.col-sm-3
                .item(data-id='4')
                  a(href='detail.html')
                    .description
                      .label.label-default Lounge
                      h3 Cosmopolit
                      h4 2896 Ripple Street
                    // end description
                    .image.bg-transfer
                      img(src='assets/img/items/5.jpg' alt='')
                    // end image
                  .additional-info
                    .rating-passive(data-rating='5')
                      span.stars
                      span.reviews 43
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                    // end controls-more
                  // end additional-info
                // end item
              // <end col-md-3
              .col-md-5.col-sm-5
                .item(data-id='6')
                  a(href='detail.html')
                    .description
                      figure Free entry
                      .label.label-default Concert
                      h3 Stand Up Show
                      h4 371 Kinney Street
                    // end description
                    .image.bg-transfer
                      img(src='assets/img/items/6.jpg' alt='')
                    // end image
                  .additional-info
                    .rating-passive(data-rating='0')
                      span.stars
                      span.reviews 0
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                    // end controls-more
                  // end additional-info
                // end item
              // <end col-md-3
            // end row
            .center
              a.btn.btn-primary.btn-light-frame.btn-rounded.btn-framed.arrow(href='listing.html') View all listings
            // end center
          // end container
        // end block
        .container
          hr
        .block
          .container
            .section-title
              .center
                h2 Browse Our Listings
            // end section-title
            .categories-list
              .row
                .col-md-3.col-sm-3
                  .list-item
                    .title
                      .icon
                        i.fa.fa-paint-brush
                      h3
                        a(href='#') Arts & Humanities
                    // end title
                    ul
                      li
                        a(href='') Photography
                        figure.count 3
                      li
                        a(href='') History
                        figure.count 2
                      li
                        a(href='') Literature
                        figure.count 4
                  // end list-item
                // end col-md-3
                .col-md-3.col-sm-3
                  .list-item
                    .title
                      .icon
                        i.fa.fa-suitcase
                      h3
                        a(href='#') Business & Economy
                    // end title
                    ul
                      li
                        a(href='') Business to Business
                        figure.count 6
                      li
                        a(href='') Finance
                        figure.count 4
                      li
                        a(href='') Shopping
                        figure.count 3
                      li
                        a(href='') Jobs
                        figure.count 5
                  // end list-item
                // end col-md-3
                .col-md-3.col-sm-3
                  .list-item
                    .title
                      .icon
                        i.fa.fa-desktop
                      h3
                        a(href='#') Computer & Internet
                    // end title
                    ul
                      li
                        a(href='') Hardware
                        figure.count 10
                      li
                        a(href='') Software
                        figure.count 4
                      li
                        a(href='') Websites
                        figure.count 6
                      li
                        a(href='') Games
                        figure.count 7
                  // end list-item
                // end col-md-3
                .col-md-3.col-sm-3
                  .list-item
                    .title
                      .icon
                        i.fa.fa-graduation-cap
                      h3
                        a(href='#') Education
                    // end title
                    ul
                      li
                        a(href='') Colleges
                        figure.count 8
                      li
                        a(href='') K-12
                        figure.count 7
                      li
                        a(href='') Distance Learning 
                        figure.count 2
                  // end list-item
                // end col-md-3
              // end row
              .row
                .col-md-3.col-sm-3
                  .list-item
                    .title
                      .icon
                        i.fa.fa-television
                      h3
                        a(href='#') Entertainment
                    // end title
                    ul
                      li
                        a(href='') Movies
                        figure.count 6
                      li
                        a(href='') TV Shows
                        figure.count 9
                      li
                        a(href='') Music
                        figure.count 1
                      li
                        a(href='') Humor 
                        figure.count 4
                  // end list-item
                // end col-md-3
                .col-md-3.col-sm-3
                  .list-item
                    .title
                      .icon
                        i.fa.fa-university
                      h3
                        a(href='#') Government
                    // end title
                    ul
                      li
                        a(href='') Elections
                        figure.count 3
                      li
                        a(href='') Military
                        figure.count 2
                      li
                        a(href='') Law
                        figure.count 6
                      li
                        a(href='') Taxes
                        figure.count 7
                  // end list-item
                // end col-md-3
                .col-md-3.col-sm-3
                  .list-item
                    .title
                      .icon
                        i.fa.fa-heart
                      h3
                        a(href='#') Health
                    // end title
                    ul
                      li
                        a(href='') Disease
                        figure.count 1
                      li
                        a(href='') Drugs
                        figure.count 5
                      li
                        a(href='') Fitness
                        figure.count 4
                      li
                        a(href='') Nutrition 
                        figure.count 8
                  // end list-item
                // end col-md-3
                .col-md-3.col-sm-3
                  .list-item
                    .title
                      .icon
                        i.fa.fa-newspaper-o
                      h3
                        a(href='#') News & Media
                    // end title
                    ul
                      li
                        a(href='') Newspapers
                        figure.count 5
                      li
                        a(href='') Radio
                        figure.count 9
                      li
                        a(href='') Weather
                        figure.count 3
                      li
                        a(href='') Blogs
                        figure.count 4
                  // end list-item
                // end col-md-3
              // end row
            // end categories-list
          // end container
        // end block
        .block.big-padding
          .container
            .vertical-aligned-elements
              .element.width-50
                h3 Subscribe and be notified about new locations
              // end element
              .element.width-50
                form#form-subscribe.form.form-email.inputs-underline
                  .input-group
                    input.form-control(type='text' name='email' placeholder='Your email' required='')
                    span.input-group-btn
                      button.btn(type='submit')
                        i.arrow_right
                  // /input-group
                // end form
              // end element
            // end vertical-aligned-elements
          // end container
          .background-wrapper
            .background-color.background-color-black.opacity-5
          // end background-wrapper
        // end block
        .block.background-is-dark
          .container
            .section-title.vertical-aligned-elements
              .element
                h2 Promoted Locations
              .element.text-align-right
                a.btn.btn-framed.btn-rounded.btn-default(href='#') Promote yours
                #gallery-nav
            // end section-title
          .gallery.featured
            .owl-carousel(data-owl-items='6' data-owl-loop='1' data-owl-auto-width='1' data-owl-nav='1' data-owl-dots='1' data-owl-nav-container='#gallery-nav')
              .item.featured(data-id='1')
                a(href='detail.html')
                  .description
                    figure Average Price: $8 - $30
                    .label.label-default Restaurant
                    h3 Marky’s Restaurant
                    h4 63 Birch Street
                  // end description
                  .image.bg-transfer
                    img(src='assets/img/items/1.jpg' alt='')
                  // end image
                .additional-info
                  .rating-passive(data-rating='4')
                    span.stars
                    span.reviews 6
                  .controls-more
                    ul
                      li
                        a(href='#') Add to favorites
                      li
                        a(href='#') Add to watchlist
                      li
                        a.quick-detail(href='#') Quick detail
                  // end controls-more
                // end additional-info
              // end item
              .item.featured(data-id='23')
                a(href='detail.html')
                  .description
                    figure Starts from: $14.99
                    .label.label-default Trip
                    h3 Nascar Racing
                    h4 london Airport
                  // end description
                  .image.bg-transfer
                    img(src='assets/img/items/11.jpg' alt='')
                  // end image
                .additional-info
                  .rating-passive(data-rating='4')
                    span.stars
                    span.reviews 6
                  .controls-more
                    ul
                      li
                        a(href='#') Add to favorites
                      li
                        a(href='#') Add to watchlist
                      li
                        a.quick-detail(href='#') Quick detail
                  // end controls-more
                // end additional-info
              // end item
              .item.featured(data-id='3')
                a(href='detail.html')
                  .description
                    figure
                      span
                        i.fa.fa-calendar
                        | 12.08.2016
                      span
                        i.fa.fa-clock-o
                        | 08:00
                    .label.label-default Event
                    h3 Food Festival
                    h4 63 Birch Street
                  // end description
                  .image.bg-transfer
                    img(src='assets/img/items/4.jpg' alt='')
                  // end image
                .additional-info
                  .rating-passive(data-rating='4')
                    span.stars
                    span.reviews 6
                  .controls-more
                    ul
                      li
                        a(href='#') Add to favorites
                      li
                        a(href='#') Add to watchlist
                      li
                        a.quick-detail(href='#') Quick detail
                  // end controls-more
                // end additional-info
              // end item
              .item.featured(data-id='4')
                a(href='detail.html')
                  .description
                    figure Average Price: $8 - $30
                    .label.label-default Lounge
                    h3 Cosmopolit
                    h4 4696 Jim Rosa Lane
                  // end description
                  .image.bg-transfer
                    img(src='assets/img/items/5.jpg' alt='')
                  // end image
                .additional-info
                  .rating-passive(data-rating='4')
                    span.stars
                    span.reviews 6
                  .controls-more
                    ul
                      li
                        a(href='#') Add to favorites
                      li
                        a(href='#') Add to watchlist
                      li
                        a.quick-detail(href='#') Quick detail
                  // end controls-more
                // end additional-info
              // end item
              .item.featured(data-id='6')
                a(href='detail.html')
                  .description
                    .label.label-default Event
                    h3 Stand Up Show
                    h4 63 Birch Street
                  // end description
                  .image.bg-transfer
                    img(src='assets/img/items/6.jpg' alt='')
                  // end image
                .additional-info
                  .rating-passive(data-rating='4')
                    span.stars
                    span.reviews 6
                  .controls-more
                    ul
                      li
                        a(href='#') Add to favorites
                      li
                        a(href='#') Add to watchlist
                      li
                        a.quick-detail(href='#') Quick detail
                  // end controls-more
                // end additional-info
              // end item
              .item.featured(data-id='8')
                a(href='detail.html')
                  .description
                    figure Get to know yor town!
                    .label.label-default Event
                    h3 City Tour
                    h4 63 Birch Street
                  // end description
                  .image.bg-transfer
                    img(src='assets/img/items/10.jpg' alt='')
                  // end image
                .additional-info
                  .rating-passive(data-rating='4')
                    span.stars
                    span.reviews 6
                  .controls-more
                    ul
                      li
                        a(href='#') Add to favorites
                      li
                        a(href='#') Add to watchlist
                      li
                        a.quick-detail(href='#') Quick detail
                  // end controls-more
                // end additional-info
              // end item
              .item.featured(data-id='5')
                a(href='detail.html')
                  .description
                    .label.label-default Real Estate
                    h3 Beautiful Luxury Villa
                    h4 59 Water Street
                  // end description
                  .image.bg-transfer
                    img(src='assets/img/items/28.jpg' alt='')
                  // end image
                .additional-info
                  .rating-passive(data-rating='3')
                    span.stars
                    span.reviews 12
                  .controls-more
                    ul
                      li
                        a(href='#') Add to favorites
                      li
                        a(href='#') Add to watchlist
                      li
                        a.quick-detail(href='#') Quick detail
                  // end controls-more
                // end additional-info
              // end item
              .item.featured(data-id='7')
                a(href='detail.html')
                  .description
                    figure Average Price: $8 - $30
                    .label.label-default Bar
                    h3 Fiesta Bar
                    h4 3524 Bryan Avenue
                  // end description
                  .image.bg-transfer
                    img(src='assets/img/items/12.jpg' alt='')
                  // end image
                .additional-info
                  .rating-passive(data-rating='5')
                    span.stars
                    span.reviews 17
                  .controls-more
                    ul
                      li
                        a(href='#') Add to favorites
                      li
                        a(href='#') Add to watchlist
                      li
                        a.quick-detail(href='#') Quick detail
                  // end controls-more
                // end additional-info
              // end item
              .item.featured(data-id='1')
                a(href='detail.html')
                  .description
                    .label.label-default Adrenaline
                    h3 Senior C# Developer
                    h4 ERF Solutions
                  // end description
                  .image.bg-transfer
                    img(src='assets/img/items/16.jpg' alt='')
                  // end image
                .additional-info
                  .rating-passive(data-rating='4')
                    span.stars
                    span.reviews 6
                  .controls-more
                    ul
                      li
                        a(href='#') Add to favorites
                      li
                        a(href='#') Add to watchlist
                      li
                        a.quick-detail(href='#') Quick detail
                  // end controls-more
                // end additional-info
              // end item
          // end gallery
          .background-wrapper
            .background-color.background-color-default
          // end background-wrapper
        // end block
        .block
          .container
            .section-title
              h2 Events Near You
            // end section-title
            .row
              .col-md-4.col-sm-4
                .text-element.event
                  .date-icon
                    figure.day 22
                    figure.month Jun
                  h4
                    a(href='detail.html') Lorem ipsum dolor sit amet
                  figure.date
                    i.icon_clock_alt
                    | 08:00
                  p
                    | Ut nec vulputate enim. Nulla faucibus convallis dui. Donec arcu enim, scelerisque.
                  a.link.arrow(href='detail.html') More
                // end text-element
              // end col-md-4
              .col-md-4.col-sm-4
                .text-element.event
                  .date-icon
                    figure.day 04
                    figure.month Jul
                  h4
                    a(href='detail.html') Donec mattis mi vitae volutpat
                  figure.date
                    i.icon_clock_alt
                    | 12:00
                  p Nullam vitae ex ac neque viverra ullamcorper eu at nunc. Morbi imperdiet.
                  a.link.arrow(href='detail.html') More
                // end text-element
              // end col-md-4
              .col-md-4.col-sm-4
                .text-element.event
                  .date-icon
                    figure.day 12
                    figure.month Aug
                  h4
                    a(href='detail.html') Vivamus placerat
                  figure.date
                    i.icon_clock_alt
                    | 12:00
                  p Aenean sed purus ut massa scelerisque bibendum eget vel massa.
                  a.link.arrow(href='detail.html') More
                // end text-element
              // end col-md-4
            // end row
            .background-wrapper
              .background-color.background-color-black.opacity-5
            // end background-wrapper
          // end container
        // end block
        .block
          .container
            .row
              .col-md-9.col-sm-9
                .section-title
                  h2 Recently Rated Items
                // end section-title
                .row
                  .col-md-4.col-sm-4
                    .item(data-id='2')
                      a(href='detail.html')
                        .description
                          .label.label-default Restaurant
                          h3 Ironapple
                          h4 4209 Glenview Drive
                        // end description
                        .image.bg-transfer
                          img(src='assets/img/items/2.jpg' alt='')
                        // end image
                      .additional-info
                        .rating-passive(data-rating='3')
                          span.stars
                          span.reviews 13
                        .controls-more
                          ul
                            li
                              a(href='#') Add to favorites
                            li
                              a(href='#') Add to watchlist
                            li
                              a.quick-detail(href='#') Quick detail
                        // end controls-more
                      // end additional-info
                    // end item
                  // <end col-md-4
                  .col-md-5.col-sm-5
                    .item(data-id='3')
                      figure.ribbon Top
                      a(href='detail.html')
                        .description
                          figure Starts at: 19:00
                          .label.label-default Event
                          h3 Food Festival
                          h4 840 My Drive
                        // end description
                        .image.bg-transfer
                          img(src='assets/img/items/4.jpg' alt='')
                        // end image
                      .additional-info
                        figure.circle(title='Featured')
                          i.fa.fa-check
                        .rating-passive(data-rating='5')
                          span.stars
                          span.reviews 12
                        .controls-more
                          ul
                            li
                              a(href='#') Add to favorites
                            li
                              a(href='#') Add to watchlist
                            li
                              a.quick-detail(href='#') Quick detail
                        // end controls-more
                      // end additional-info
                    // end item
                  // <end col-md-5
                  .col-md-3.col-sm-3
                    .item(data-id='4')
                      a(href='detail.html')
                        .description
                          .label.label-default Lounge
                          h3 Cosmopolit
                          h4 2896 Ripple Street
                        // end description
                        .image.bg-transfer
                          img(src='assets/img/items/5.jpg' alt='')
                        // end image
                      .additional-info
                        .rating-passive(data-rating='5')
                          span.stars
                          span.reviews 43
                        .controls-more
                          ul
                            li
                              a(href='#') Add to favorites
                            li
                              a(href='#') Add to watchlist
                            li
                              a.quick-detail(href='#') Quick detail
                        // end controls-more
                      // end additional-info
                    // end item
                  // <end col-md-3
                // end row
              // end col-md-9
              .col-md-3.col-sm-3
                .section-title
                  h2 Client’s Word
                .testimonials.center.box
                  .owl-carousel(data-owl-items='1' data-owl-nav='0' data-owl-dots='1')
                    blockquote
                      .image
                        .bg-transfer
                          img(src='assets/img/person-01.jpg' alt='')
                      h3 Jane Woodstock
                      h4 CEO at ArtBrands
                      p
                        | Ut nec vulputate enim. Nulla faucibus convallis dui. Donec arcu enim, scelerisque gravida lacus vel.
                    blockquote
                      .image
                        .bg-transfer
                          img(src='assets/img/person-04.jpg' alt='')
                      h3 Peter Doe
                      h4 CEO at ArtBrands
                      p
                        | Donec arcu enim, scelerisque gravida lacus vel, dignissim cursus lectus. Aliquam laoreet purus in iaculis sodales.
              // end col-md-3
            // end row
          // end container
        // end block
        .block
          .container
            .section-title
              h2 From the Blog
            // end section-title
            .row
              .col-md-4.col-sm-4
                .text-element
                  h4
                    a(href='blog-detail.html') Lorem ipsum dolor sit amet
                  figure.date 21.06.2015
                  p
                    | Ut nec vulputate enim. Nulla faucibus convallis dui. Donec arcu enim, scelerisque gravida lacus vel, dignissim cursus
                  a(href='blog-detail.html')
                    i.arrow_right
                // end text-element
              // end col-md-4
              .col-md-4.col-sm-4
                .text-element
                  h4
                    a(href='blog-detail.html') Sed et justo ut nibh condimentum lacinia
                  figure.date 13.06.2015
                  p
                    | Donec arcu enim, scelerisque gravida lacus vel, dignissim cursus lectus. Aliquam laoreet purus in iaculis sodales.
                  a(href='blog-detail.html')
                    i.arrow_right
                // end text-element
              // end col-md-4
              .col-md-4.col-sm-4
                .text-element
                  h4
                    a(href='blog-detail.html') Suspendisse varius eros id enim 
                  figure.date 03.04.2015
                  p
                    | Nullam nec turpis blandit, sodales risus vitae, tincidunt velit. Vestibulum ac ipsum tincidunt, vestibulum leo eget,
                  a(href='blog-detail.html')
                    i.arrow_right
                // end text-element
              // end col-md-4
            // end row
          // end container
        // end block
        .container
          hr
        // end container
        .block
          .container
            .logos
              .logo
                a(href='#')
                  img(src='assets/img/logo-1.png' alt='')
              .logo
                a(href='#')
                  img(src='assets/img/logo-2.png' alt='')
              .logo
                a(href='#')
                  img(src='assets/img/logo-3.png' alt='')
              .logo
                a(href='#')
                  img(src='assets/img/logo-4.png' alt='')
              .logo
                a(href='#')
                  img(src='assets/img/logo-5.png' alt='')
            // / .logos
          // end container
        // end block
      // end page-content
      footer#page-footer
        .footer-wrapper
          .block
            .container
              .vertical-aligned-elements
                .element.width-50
                  p(data-toggle='modal' data-target='#myModal')
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam at neque sit amet vestibulum. 
                    a(href='#') Terms of Use
                    |  and 
                    a(href='#') Privacy Policy
                    | .
                .element.width-50.text-align-right
                  a.circle-icon(href='#')
                    i.social_twitter
                  a.circle-icon(href='#')
                    i.social_facebook
                  a.circle-icon(href='#')
                    i.social_youtube
              .background-wrapper
                .bg-transfer.opacity-50
                  img(src='assets/img/footer-bg.png' alt='')
              // end background-wrapper
          .footer-navigation
            .container
              .vertical-aligned-elements
                .element.width-50 (C) 2016 Your Company, All right reserved
                .element.width-50.text-align-right
                  a(href='index.html') Home
                  a(href='listing-grid-right-sidebar.html') Listings
                  a(href='submit.html') Submit Item
                  a(href='contact.html') Contact
      // end page-footer
    // end page-wrapper
    script(type='text/javascript' src='assets/js/jquery-2.2.1.min.js')
    script(type='text/javascript' src='assets/js/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript' src='assets/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript' src='assets/js/bootstrap-select.min.js')
    script(type='text/javascript' src='http://maps.google.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58&libraries=places')
    script(type='text/javascript' src='assets/js/richmarker-compiled.js')
    script(type='text/javascript' src='assets/js/markerclusterer_packed.js')
    script(type='text/javascript' src='assets/js/infobox.js')
    script(type='text/javascript' src='assets/js/jquery.validate.min.js')
    script(type='text/javascript' src='assets/js/jquery.fitvids.js')
    script(type='text/javascript' src='assets/js/bootstrap-datepicker.js')
    // <script type="text/javascript" src="assets/js/bootstrap-datepicker.js"></script>
    script(type='text/javascript' src='assets/js/icheck.min.js')
    script(type='text/javascript' src='assets/js/owl.carousel.min.js')
    // <script type="text/javascript" src="assets/js/jquery.trackpad-scroll-emulator.min.js"></script>
    script(type='text/javascript' src='assets/js/jquery.nouislider.all.min.js')
    script(type='text/javascript' src='assets/js/custom.js')
    script(type='text/javascript' src='assets/js/maps.js')
    script.
      var _latitude = 40.7344458;
      var _longitude = -73.86704922;
      var element = "map-homepage";
      var markerTarget = "infobox"; // use "sidebar", "infobox" or "modal" - defines the action after click on marker
      var sidebarResultTarget = "sidebar"; // use "sidebar", "modal" or "new_page" - defines the action after click on marker
      var showMarkerLabels = true;
      heroMap(_latitude,_longitude, element, markerTarget, sidebarResultTarget, showMarkerLabels);
