doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content='ThemeStarz')
    link(href='assets/fonts/font-awesome.css' rel='stylesheet' type='text/css')
    link(href='assets/fonts/elegant-fonts.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.css' type='text/css')
    link(rel='stylesheet' href='assets/css/jquery.nouislider.min.css' type='text/css')
    link(rel='stylesheet' href='assets/css/bootstrap-select.min.css' type='text/css')
    link(rel='stylesheet' href='assets/css/owl.carousel.css' type='text/css')
    link(rel='stylesheet' href='assets/css/style.css' type='text/css')
    title Locations - Directory Listing HTML Template
  body
    .page-wrapper
      header#page-header
        nav
          .left
            a.brand(href='index.html')
              img(src='assets/img/logo.png' alt='')
          // end left
          .right
            .primary-nav.has-mega-menu
              ul.navigation
                li.active.has-child
                  a(href='#nav-homepages') Home
                  .wrapper
                    #nav-homepages.nav-wrapper
                      ul
                        li
                          a(href='index-map-version-1.html') Map Full Screen Sidebar Results
                        li
                          a(href='index-map-version-2.html') Map Horizontal Form
                        li
                          a(href='index-map-version-3.html') Map Full Screen Form in Sidebar
                        li
                          a(href='index-map-version-4.html') Map Form Under
                        li
                          a(href='index-hero-version-1.html') Hero One Input Form
                        li
                          a(href='index-hero-version-2.html') Hero Multiple Inputs
                        li
                          a(href='index-hero-version-3.html') Hero Form Under
                        li
                          a(href='index-hero-version-4.html') Hero Full Screen Slider
                li.has-child
                  a(href='#nav-listing') Listing
                  .wrapper
                    #nav-listing.nav-wrapper
                      ul
                        li.has-child
                          a(href='#nav-grid-listing') Grid Listing
                          #nav-grid-listing.nav-wrapper
                            ul
                              li
                                a(href='listing-grid-right-sidebar.html') With Right Sidebar
                              li
                                a(href='listing-grid-left-sidebar.html') With Left Sidebar
                              li
                                a(href='listing-grid-full-width.html') Full Width
                              li
                                a(href='listing-grid-different-widths.html') Different Widths
                              li
                                a(href='listing-grid-3-items.html') 3 Items in Row
                              li
                                a(href='listing-grid-4-items.html') 4 Items in Row
                        li.has-child
                          a(href='#nav-row-listing') Row Listing
                          #nav-row-listing.nav-wrapper
                            ul
                              li
                                a(href='listing-row-right-sidebar.html') Row Right Sidebar
                              li
                                a(href='listing-row-left-sidebar.html') Row Left Sidebar
                li.mega-menu-parent.has-child
                  a(href='#nav-pages') Pages
                  .wrapper
                    .mega-menu
                      #nav-pages.nav-wrapper
                        .container
                          .row
                            .col-md-3.col-sm-3
                              h4.heading General
                              ul
                                li
                                  a(href='faq.html') Faq
                                li
                                  a(href='pricing.html') Pricing
                                li
                                  a(href='submit.html') Submit Listing
                                li
                                  a(href='detail.html') Listing Detail
                                li
                                  a(href='detail-2.html') Listing Detail v2
                            // end col-md-3
                            .col-md-3.col-sm-3
                              h4.heading User
                              ul
                                li
                                  a(href='profile.html') Profile Edit
                                li
                                  a(href='sign-in.html') Sign In
                                li
                                  a(href='register.html') Register
                                li
                                  a(href='reset-password.html') Reset Password
                                li
                                  a(href='my-listings.html') My Listings
                                li
                                  a(href='edit-listing.html') Edit Listing
                                li
                                  a(href='reviews.html') Reviews
                            // end col-md-3
                            .col-md-3.col-sm-3
                              h4.heading Other
                              ul
                                li
                                  a(href='elements.html') Elements / Shortcodes
                                li
                                  a(href='404.html') 404 Error Page
                                li
                                  a(href='sticky-footer.html') Sticky Footer
                                li
                                  a(href='terms-and-conditions.html') Terms & Conditions
                                li
                                  a(href='grid-system.html') Grid System
                            // end col-md-3
                            .col-md-3.col-sm-3
                              .image.center.overlay
                                .vertical-aligned-elements
                                  .element
                                    a.btn.btn-default.btn-framed(href='#') Submit Your Listing
                                .bg-transfer
                                  img(src='assets/img/items/10.jpg' alt='')
                            // end col-md-3
                          // end row
                        // end container
                      // end collapse
                    // end wrapper
                  // end mega-menu
                li.has-child
                  a(href='#nav-locations') Locations
                  .wrapper
                    #nav-locations.nav-wrapper
                      ul
                        li.has-child
                          a(href='#nav-locations-new-york') New York
                          #nav-locations-new-york.nav-wrapper
                            ul
                              li.has-child
                                a(href='#nav-4') Manhattan
                                #nav-4.nav-wrapper
                                  ul
                                    li
                                      a(href='#') 1
                                    li
                                      a(href='#') 2
                                    li
                                      a(href='#') 3
                                    li
                                      a(href='#') 4
                              li
                                a(href='#') Brooklyn
                              li
                                a(href='#') Staten Island
                        li.has-child
                          a(href='#nav-5') London
                          #nav-5.nav-wrapper
                            ul
                              li
                                a(href='#') Abbey Wood
                              li
                                a(href='#') Bayswater
                              li
                                a(href='#') Forestdale
                        li.has-child
                          a(href='#nav-6') Paris
                          #nav-6.nav-wrapper
                            ul
                              li
                                a(href='#') Louvre
                              li
                                a(href='#') Bourse
                              li
                                a(href='#') Marais
                    // end nav-wrapper
                  // end wrapper
                li
                  a(href='blog.html') Blog
                li
                  a(href='contact.html') Contact
              // end navigation
            // end primary-nav
            .secondary-nav
              a(href='#' data-modal-external-file='modal_sign_in.php' data-target='modal-sign-in') Sign In
              a.promoted(href='#' data-modal-external-file='modal_register.php' data-target='modal-register') Register
            // end secondary-nav
            a.btn.btn-primary.btn-small.btn-rounded.icon.shadow.add-listing(href='#' data-modal-external-file='modal_submit.php' data-target='modal-submit')
              i.fa.fa-plus
              span Add listing
            .nav-btn
              i
              i
              i
            // end nav-btn
          // end right
        // end nav
      // end page-header
      #page-content
        .container
          ol.breadcrumb
            li
              a(href='#') Home
            li
              a(href='#') Pages
            li.active Contact
          .row
            .col-md-9.col-sm-9
              section.page-title
                h1 Row Listing
              // end section-title
              section
                .search-results-controls.clearfix
                  .pull-left
                    a.circle-icon(href='listing-grid-right-sidebar.html')
                      i.fa.fa-th
                    a.circle-icon.active(href='listing-row-right-sidebar.html')
                      i.fa.fa-bars
                  // end left
                  .pull-right
                    .input-group.inputs-underline.min-width-150px
                      select.form-control.selectpicker(name='sort')
                        option(value='') Sort by
                        option(value='1') Price
                        option(value='2') Distance
                        option(value='3') Title
                  // end right
                // end search-results-controls
              section
                .item.item-row(data-id='1' data-latitude='40.72807182' data-longitude='-73.85735035')
                  a(href='detail.html')
                    .image.bg-transfer
                      figure Average Price: $8 - $30
                      img(src='assets/img/items/1.jpg' alt='')
                    // end image
                    .map
                    .description
                      h3 Marky’s Restaurant
                      h4 63 Birch Street
                      .label.label-default Restaurant
                    // end description
                    .additional-info
                      .rating-passive(data-rating='4')
                        span.stars
                        span.reviews 6
                    // end additional-info
                  .controls-more
                    ul
                      li
                        a(href='#') Add to favorites
                      li
                        a(href='#') Add to watchlist
                      li
                        a.quick-detail(href='#') Quick detail
                  // end controls-more
                // end item.row
                .item.item-row(data-id='2' data-latitude='40.73925841' data-longitude='-73.85348797')
                  a(href='detail.html')
                    .image.bg-transfer
                      img(src='assets/img/items/2.jpg' alt='')
                    // end image
                    .map
                    .description
                      h3 Ironapple
                      h4 4209 Glenview Drive
                      .label.label-default Restaurant
                    // end description
                    .additional-info
                      .rating-passive(data-rating='5')
                        span.stars
                        span.reviews 8
                    // end additional-info
                  .controls-more
                    ul
                      li
                        a(href='#') Add to favorites
                      li
                        a(href='#') Add to watchlist
                      li
                        a.quick-detail(href='#') Quick detail
                  // end controls-more
                // end item.row
                .item.item-row(data-id='15' data-latitude='40.73659201' data-longitude='-73.80778313')
                  figure.ribbon Top
                  a(href='detail.html')
                    .image.bg-transfer
                      figure Happy hour: 18:00 - 19:00
                      img(src='assets/img/items/3.jpg' alt='')
                    // end image
                    .map
                    .description
                      h3 Bambi Planet Houseboat Bar& Grill 
                      h4 3857 Losh Lane
                      .label.label-default Bar & Grill
                    // end description
                    .additional-info
                      .rating-passive(data-rating='3')
                        span.stars
                        span.reviews 8
                    // end additional-info
                  .controls-more
                    ul
                      li
                        a(href='#') Add to favorites
                      li
                        a(href='#') Add to watchlist
                      li
                        a.quick-detail(href='#') Quick detail
                  // end controls-more
                // end item.row
                .item.item-row(data-id='3' data-address='Forest Hills, Queens, NY 11375, USA')
                  a(href='detail.html')
                    .image.bg-transfer
                      figure Starts at 19:00
                      img(src='assets/img/items/4.jpg' alt='')
                    // end image
                    .map
                    .description
                      h3 Food Festival
                      h4 23 Hillhaven Drive
                      .label.label-default Event
                    // end description
                    .additional-info
                      .rating-passive(data-rating='5')
                        span.stars
                        span.reviews 4
                    // end additional-info
                  .controls-more
                    ul
                      li
                        a(href='#') Add to favorites
                      li
                        a(href='#') Add to watchlist
                      li
                        a.quick-detail(href='#') Quick detail
                  // end controls-more
                // end item.row
                .item.item-row(data-id='4' data-latitude='40.709016' data-longitude='-73.844969')
                  a(href='detail.html')
                    .image.bg-transfer
                      img(src='assets/img/items/5.jpg' alt='')
                    // end image
                    .map
                    .description
                      h3 Cosmopolit
                      h4 4209 Glenview Drive
                      .label.label-default Lounge
                    // end description
                    .additional-info
                      .rating-passive(data-rating='5')
                        span.stars
                        span.reviews 9
                    // end additional-info
                  .controls-more
                    ul
                      li
                        a(href='#') Add to favorites
                      li
                        a(href='#') Add to watchlist
                      li
                        a.quick-detail(href='#') Quick detail
                  // end controls-more
                // end item.row
                .item.item-row(data-id='5' data-latitude='40.71447628' data-longitude='-73.8821125')
                  figure.ribbon Sale
                  a(href='detail.html')
                    .image.bg-transfer
                      img(src='assets/img/items/28.jpg' alt='')
                    // end image
                    .map
                    .description
                      h3 Beautiful Luxury Villa
                      h4 3284 Hillside Street
                      .label.label-default Real Estate
                    // end description
                  .controls-more
                    ul
                      li
                        a(href='#') Add to favorites
                      li
                        a(href='#') Add to watchlist
                      li
                        a.quick-detail(href='#') Quick detail
                  // end controls-more
                // end item.row
              section
                .center
                  nav(aria-label='Page navigation')
                    ul.pagination
                      li.disabled.previous
                        a(href='#' aria-label='Previous')
                          i.arrow_left
                      li
                        a(href='#') 1
                      li
                        a(href='#') 2
                      li.active
                        a(href='#') 3
                      li
                        a(href='#') 4
                      li
                        a(href='#') 5
                      li.next
                        a(href='#' aria-label='Next')
                          i.arrow_right
            // end col-md-9
            .col-md-3.col-sm-3
              aside.sidebar
                section
                  h2 Search Filter
                  form.form.inputs-underline
                    .form-group
                      input.form-control(type='text' name='keyword' placeholder='Enter keyword')
                    // end form-group
                    .form-group
                      select.form-control.selectpicker(name='location')
                        option(value='') Location
                        option(value='1') New York
                        option(value='2') Washington
                        option(value='3') London
                        option(value='4') Paris
                    // end form-group
                    .form-group
                      select.form-control.selectpicker(name='category')
                        option(value='') Category
                        option(value='1') Restaurant
                        option(value='2') Event
                        option(value='3') Adrenaline
                        option(value='4') Sport
                        option(value='5') Wellness
                    // end form-group
                    .form-group
                      #price-slider.ui-slider(data-value-min='10' data-value-max='400' data-value-type='price' data-currency='$' data-currency-placement='before')
                        .values.clearfix
                          input.value-min(name='value-min[]' readonly='')
                          input.value-max(name='value-max[]' readonly='')
                        .element
                      // end price-slider
                    // end form-group
                    .form-group
                      button.btn.btn-primary.pull-right(type='submit')
                        | Search Now
                        i.fa.fa-search
                    // end form-group
                section
                  h2 Recent Items
                  .item(data-id='1')
                    a(href='detail.html')
                      .description
                        figure Average Price: $8 - $30
                        .label.label-default Restaurant
                        h3 Marky’s Restaurant
                        h4 63 Birch Street
                      // end description
                      .image.bg-transfer
                        img(src='assets/img/items/1.jpg' alt='')
                      // end image
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                  // end item
                  .item(data-id='2')
                    a(href='detail.html')
                      .description
                        .label.label-default Restaurant
                        h3 Ironapple
                        h4 4209 Glenview Drive
                      // end description
                      .image.bg-transfer
                        img(src='assets/img/items/2.jpg' alt='')
                      // end image
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                    // end controls-more
                  // end item
                  .item(data-id='15')
                    figure.ribbon Top
                    a(href='detail.html')
                      .description
                        figure Happy hour: 18:00 - 19:00
                        .label.label-default Bar & Grill
                        h3 Bambi Planet Houseboat Bar& Grill 
                        h4 3857 Losh Lane
                      // end description
                      .image.bg-transfer
                        img(src='assets/img/items/3.jpg' alt='')
                      // end image
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                    // end controls-more
                  // end item
              // end sidebar
            // end col-md-4
          // end row
        // end container
      // end page-content
      footer#page-footer
        .footer-wrapper
          .block
            .container
              .vertical-aligned-elements
                .element.width-50
                  p(data-toggle='modal' data-target='#myModal')
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam at neque sit amet vestibulum. 
                    a(href='#') Terms of Use
                    |  and 
                    a(href='#') Privacy Policy
                    | .
                .element.width-50.text-align-right
                  a.circle-icon(href='#')
                    i.social_twitter
                  a.circle-icon(href='#')
                    i.social_facebook
                  a.circle-icon(href='#')
                    i.social_youtube
              .background-wrapper
                .bg-transfer.opacity-50
                  img(src='assets/img/footer-bg.png' alt='')
              // end background-wrapper
          .footer-navigation
            .container
              .vertical-aligned-elements
                .element.width-50 (C) 2016 Your Company, All right reserved
                .element.width-50.text-align-right
                  a(href='index.html') Home
                  a(href='listing-grid-right-sidebar.html') Listings
                  a(href='submit.html') Submit Item
                  a(href='contact.html') Contact
      // end page-footer
    // end page-wrapper
    script(type='text/javascript' src='assets/js/jquery-2.2.1.min.js')
    script(type='text/javascript' src='assets/js/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript' src='assets/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript' src='assets/js/bootstrap-select.min.js')
    script(type='text/javascript' src='http://maps.google.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58&libraries=places')
    script(type='text/javascript' src='assets/js/richmarker-compiled.js')
    script(type='text/javascript' src='assets/js/jquery.validate.min.js')
    script(type='text/javascript' src='assets/js/jquery.nouislider.all.min.js')
    script(type='text/javascript' src='assets/js/owl.carousel.min.js')
    script(type='text/javascript' src='assets/js/custom.js')
    script(type='text/javascript' src='assets/js/maps.js')
