doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content='ThemeStarz')
    link(href='assets/fonts/font-awesome.css' rel='stylesheet' type='text/css')
    link(href='assets/fonts/elegant-fonts.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.css' type='text/css')
    link(rel='stylesheet' href='assets/css/owl.carousel.css' type='text/css')
    link(rel='stylesheet' href='assets/css/style.css' type='text/css')
    title Locations - Directory Listing HTML Template
    style.
      .box { padding: 10px; font-size: 12px; font-weight: bold; line-height: 50px; }
      .row { margin-bottom: 30px; }
  body
    .page-wrapper
      header#page-header
        nav
          .left
            a.brand(href='index.html')
              img(src='assets/img/logo.png' alt='')
          // end left
          .right
            .primary-nav.has-mega-menu
              ul.navigation
                li.active.has-child
                  a(href='#nav-homepages') Home
                  .wrapper
                    #nav-homepages.nav-wrapper
                      ul
                        li
                          a(href='index-map-version-1.html') Map Full Screen Sidebar Results
                        li
                          a(href='index-map-version-2.html') Map Horizontal Form
                        li
                          a(href='index-map-version-3.html') Map Full Screen Form in Sidebar
                        li
                          a(href='index-map-version-4.html') Map Form Under
                        li
                          a(href='index-hero-version-1.html') Hero One Input Form
                        li
                          a(href='index-hero-version-2.html') Hero Multiple Inputs
                        li
                          a(href='index-hero-version-3.html') Hero Form Under
                        li
                          a(href='index-hero-version-4.html') Hero Full Screen Slider
                li.has-child
                  a(href='#nav-listing') Listing
                  .wrapper
                    #nav-listing.nav-wrapper
                      ul
                        li.has-child
                          a(href='#nav-grid-listing') Grid Listing
                          #nav-grid-listing.nav-wrapper
                            ul
                              li
                                a(href='listing-grid-right-sidebar.html') With Right Sidebar
                              li
                                a(href='listing-grid-left-sidebar.html') With Left Sidebar
                              li
                                a(href='listing-grid-full-width.html') Full Width
                              li
                                a(href='listing-grid-different-widths.html') Different Widths
                              li
                                a(href='listing-grid-3-items.html') 3 Items in Row
                              li
                                a(href='listing-grid-4-items.html') 4 Items in Row
                        li.has-child
                          a(href='#nav-row-listing') Row Listing
                          #nav-row-listing.nav-wrapper
                            ul
                              li
                                a(href='listing-row-right-sidebar.html') Row Right Sidebar
                              li
                                a(href='listing-row-left-sidebar.html') Row Left Sidebar
                li.mega-menu-parent.has-child
                  a(href='#nav-pages') Pages
                  .wrapper
                    .mega-menu
                      #nav-pages.nav-wrapper
                        .container
                          .row
                            .col-md-3.col-sm-3
                              h4.heading General
                              ul
                                li
                                  a(href='faq.html') Faq
                                li
                                  a(href='pricing.html') Pricing
                                li
                                  a(href='submit.html') Submit Listing
                                li
                                  a(href='detail.html') Listing Detail
                                li
                                  a(href='detail-2.html') Listing Detail v2
                            // end col-md-3
                            .col-md-3.col-sm-3
                              h4.heading User
                              ul
                                li
                                  a(href='profile.html') Profile Edit
                                li
                                  a(href='sign-in.html') Sign In
                                li
                                  a(href='register.html') Register
                                li
                                  a(href='reset-password.html') Reset Password
                                li
                                  a(href='my-listings.html') My Listings
                                li
                                  a(href='edit-listing.html') Edit Listing
                                li
                                  a(href='reviews.html') Reviews
                            // end col-md-3
                            .col-md-3.col-sm-3
                              h4.heading Other
                              ul
                                li
                                  a(href='elements.html') Elements / Shortcodes
                                li
                                  a(href='404.html') 404 Error Page
                                li
                                  a(href='sticky-footer.html') Sticky Footer
                                li
                                  a(href='terms-and-conditions.html') Terms & Conditions
                                li
                                  a(href='grid-system.html') Grid System
                            // end col-md-3
                            .col-md-3.col-sm-3
                              .image.center.overlay
                                .vertical-aligned-elements
                                  .element
                                    a.btn.btn-default.btn-framed(href='#') Submit Your Listing
                                .bg-transfer
                                  img(src='assets/img/items/10.jpg' alt='')
                            // end col-md-3
                          // end row
                        // end container
                      // end collapse
                    // end wrapper
                  // end mega-menu
                li.has-child
                  a(href='#nav-locations') Locations
                  .wrapper
                    #nav-locations.nav-wrapper
                      ul
                        li.has-child
                          a(href='#nav-locations-new-york') New York
                          #nav-locations-new-york.nav-wrapper
                            ul
                              li.has-child
                                a(href='#nav-4') Manhattan
                                #nav-4.nav-wrapper
                                  ul
                                    li
                                      a(href='#') 1
                                    li
                                      a(href='#') 2
                                    li
                                      a(href='#') 3
                                    li
                                      a(href='#') 4
                              li
                                a(href='#') Brooklyn
                              li
                                a(href='#') Staten Island
                        li.has-child
                          a(href='#nav-5') London
                          #nav-5.nav-wrapper
                            ul
                              li
                                a(href='#') Abbey Wood
                              li
                                a(href='#') Bayswater
                              li
                                a(href='#') Forestdale
                        li.has-child
                          a(href='#nav-6') Paris
                          #nav-6.nav-wrapper
                            ul
                              li
                                a(href='#') Louvre
                              li
                                a(href='#') Bourse
                              li
                                a(href='#') Marais
                    // end nav-wrapper
                  // end wrapper
                li
                  a(href='blog.html') Blog
                li
                  a(href='contact.html') Contact
              // end navigation
            // end primary-nav
            .secondary-nav
              a(href='#' data-modal-external-file='modal_sign_in.php' data-target='modal-sign-in') Sign In
              a.promoted(href='#' data-modal-external-file='modal_register.php' data-target='modal-register') Register
            // end secondary-nav
            a.btn.btn-primary.btn-small.btn-rounded.icon.shadow.add-listing(href='#' data-modal-external-file='modal_submit.php' data-target='modal-submit')
              i.fa.fa-plus
              span Add listing
            .nav-btn
              i
              i
              i
            // end nav-btn
          // end right
        // end nav
      // end page-header
      #page-content
        .container
          ol.breadcrumb
            li
              a(href='#') Home
            li
              a(href='#') Pages
            li.active Contact
          // end breadcrumb
          section.page-title
            h1 My Listings
          // end page-title
          section
            .my-items.table-responsive
              table.table
                thead
                  tr
                    th Listings
                    th Featured
                    th Views
                    th Reviews
                    th Rating
                    th Last Edited
                tbody
                  tr.my-item
                    td
                      .image-wrapper
                        .circle(data-toggle='tooltip' data-placement='right' title='Top Listing')
                          i.fa.fa-thumbs-up
                        a.image(href='edit-listing.html')
                          .bg-transfer
                            img(src='assets/img/items/1.jpg')
                      .info
                        a(href='detail.html')
                          h2 Spring Hotel
                        figure.location Montenegro
                        figure.label.label-info Hotel
                        .additional-info
                          span
                            i.fa.fa-bed
                            | 12
                          span.price-info
                            | From 
                            span.price $32
                            span.appendix /night
                        // end additional-info
                      // end info
                    td
                      .featured.yes
                        i.fa.fa-check
                        aside
                    td.views 426
                    td.reviews 45
                    td.rating
                      .rating-passive(data-rating='4')
                        span.stars
                        span.reviews 6
                    td.last-edited
                      | Today 15:32
                      span.last-edit Last edited: Today 12:35
                      .edit-options
                        a.link.icon(href='edit-listing.html')
                          i.fa.fa-edit
                          | Edit
                        a.link.icon(href='reviews.html')
                          i.fa.fa-comment
                          | Reviews
                        a.link.icon.delete(href='#')
                          i.fa.fa-trash
                          | Delete
                      // end edit-options
                  // end my-item
                  tr.my-item
                    td
                      .image-wrapper
                        a.image(href='edit-listing.html')
                          .bg-transfer
                            img(src='assets/img/items/2.jpg')
                      .info
                        a(href='detail.html')
                          h2 Iron Apple
                        figure.location 4209 Glenview Drive
                        figure.label.label-info Restaurant
                        .additional-info
                        // end additional-info
                      // end info
                    td.featured
                      i.fa.fa-times
                    td.views 230
                    td.reviews 28
                    td.rating
                      .rating-passive(data-rating='5')
                        span.stars
                        span.reviews 19
                    td.last-edited
                      | Yesterday 10:45
                      span.last-edit Last edited: Today 12:35
                      .edit-options
                        a.link.icon(href='edit-listing.html')
                          i.fa.fa-edit
                          | Edit
                        a.link.icon(href='reviews.html')
                          i.fa.fa-comment
                          | Reviews
                        a.link.icon.delete(href='#')
                          i.fa.fa-trash
                          | Delete
                      // end edit-options
                  // end my-item
                  tr.my-item
                    td
                      .image-wrapper
                        figure.ribbon Top
                        a.image(href='edit-listing.html')
                          .bg-transfer
                            img(src='assets/img/items/3.jpg')
                      .info
                        a(href='detail.html')
                          h2 Bamby Planet Houseboat Bar & Grill
                        figure.location 3857 Josh Lane
                        figure.label.label-info Bar & Grill
                        .additional-info
                          span.price-info Happy Hour 18:00 - 19:00
                        // end additional-info
                      // end info
                    td.featured
                      i.fa.fa-times
                    td.views 230
                    td.reviews 28
                    td.rating
                      .rating-passive(data-rating='4')
                        span.stars
                        span.reviews 12
                    td.last-edited
                      | 12.05.2016 11:05
                      span.last-edit Last edited: Today 12:35
                      .edit-options
                        a.link.icon(href='edit-listing.html')
                          i.fa.fa-edit
                          | Edit
                        a.link.icon(href='reviews.html')
                          i.fa.fa-comment
                          | Reviews
                        a.link.icon.delete(href='#')
                          i.fa.fa-trash
                          | Delete
                      // end edit-options
                  // end my-item
                  tr.my-item
                    td
                      .image-wrapper
                        a.image(href='edit-listing.html')
                          .bg-transfer
                            img(src='assets/img/items/4.jpg')
                      .info
                        a(href='detail.html')
                          h2 Food Festival
                        figure.location 840 My Drive
                        figure.label.label-info Event
                        .additional-info
                          span.price-info Free Entry
                        // end additional-info
                      // end info
                    td.featured
                      i.fa.fa-times
                    td.views 230
                    td.reviews 28
                    td.rating
                      .rating-passive(data-rating='3')
                        span.stars
                        span.reviews 3
                    td.last-edited
                      | 12.02.2016 08:50
                      span.last-edit Last edited: Today 12:35
                      .edit-options
                        a.link.icon(href='edit-listing.html')
                          i.fa.fa-edit
                          | Edit
                        a.link.icon(href='reviews.html')
                          i.fa.fa-comment
                          | Reviews
                        a.link.icon.delete(href='#')
                          i.fa.fa-trash
                          | Delete
                      // end edit-options
                  // end my-item
            // end my-items
          section
            .center
              nav(aria-label='Page navigation')
                ul.pagination
                  li.disabled.previous
                    a(href='#' aria-label='Previous')
                      i.arrow_left
                  li
                    a(href='#') 1
                  li
                    a(href='#') 2
                  li.active
                    a(href='#') 3
                  li
                    a(href='#') 4
                  li
                    a(href='#') 5
                  li.next
                    a(href='#' aria-label='Next')
                      i.arrow_right
        // end container
      // end page-content
      footer#page-footer
        .footer-wrapper
          .block
            .container
              .vertical-aligned-elements
                .element.width-50
                  p(data-toggle='modal' data-target='#myModal')
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam at neque sit amet vestibulum. 
                    a(href='#') Terms of Use
                    |  and 
                    a(href='#') Privacy Policy
                    | .
                .element.width-50.text-align-right
                  a.circle-icon(href='#')
                    i.social_twitter
                  a.circle-icon(href='#')
                    i.social_facebook
                  a.circle-icon(href='#')
                    i.social_youtube
              .background-wrapper
                .bg-transfer.opacity-50
                  img(src='assets/img/footer-bg.png' alt='')
              // end background-wrapper
          .footer-navigation
            .container
              .vertical-aligned-elements
                .element.width-50 (C) 2016 Your Company, All right reserved
                .element.width-50.text-align-right
                  a(href='index.html') Home
                  a(href='listing-grid-right-sidebar.html') Listings
                  a(href='submit.html') Submit Item
                  a(href='contact.html') Contact
      // end page-footer
    // end page-wrapper
    script(type='text/javascript' src='assets/js/jquery-2.2.1.min.js')
    script(type='text/javascript' src='assets/js/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript' src='assets/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript' src='assets/js/bootstrap-select.min.js')
    script(type='text/javascript' src='http://maps.google.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58&libraries=places')
    script(type='text/javascript' src='assets/js/richmarker-compiled.js')
    script(type='text/javascript' src='assets/js/owl.carousel.min.js')
    script(type='text/javascript' src='assets/js/jquery.validate.min.js')
    script(type='text/javascript' src='assets/js/custom.js')
    script(type='text/javascript' src='assets/js/maps.js')
