doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content='ThemeStarz')
    link(href='assets/fonts/font-awesome.css' rel='stylesheet' type='text/css')
    link(href='assets/fonts/elegant-fonts.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.css' type='text/css')
    link(rel='stylesheet' href='assets/css/owl.carousel.css' type='text/css')
    link(rel='stylesheet' href='assets/css/style.css' type='text/css')
    title Locations - Directory Listing HTML Template
  body
    .page-wrapper
      header#page-header
        nav
          .left
            a.brand(href='index.html')
              img(src='assets/img/logo.png' alt='')
          // end left
          .right
            .primary-nav.has-mega-menu
              ul.navigation
                li.active.has-child
                  a(href='#nav-homepages') Home
                  .wrapper
                    #nav-homepages.nav-wrapper
                      ul
                        li
                          a(href='index-map-version-1.html') Map Full Screen Sidebar Results
                        li
                          a(href='index-map-version-2.html') Map Horizontal Form
                        li
                          a(href='index-map-version-3.html') Map Full Screen Form in Sidebar
                        li
                          a(href='index-map-version-4.html') Map Form Under
                        li
                          a(href='index-hero-version-1.html') Hero One Input Form
                        li
                          a(href='index-hero-version-2.html') Hero Multiple Inputs
                        li
                          a(href='index-hero-version-3.html') Hero Form Under
                        li
                          a(href='index-hero-version-4.html') Hero Full Screen Slider
                li.has-child
                  a(href='#nav-listing') Listing
                  .wrapper
                    #nav-listing.nav-wrapper
                      ul
                        li.has-child
                          a(href='#nav-grid-listing') Grid Listing
                          #nav-grid-listing.nav-wrapper
                            ul
                              li
                                a(href='listing-grid-right-sidebar.html') With Right Sidebar
                              li
                                a(href='listing-grid-left-sidebar.html') With Left Sidebar
                              li
                                a(href='listing-grid-full-width.html') Full Width
                              li
                                a(href='listing-grid-different-widths.html') Different Widths
                              li
                                a(href='listing-grid-3-items.html') 3 Items in Row
                              li
                                a(href='listing-grid-4-items.html') 4 Items in Row
                        li.has-child
                          a(href='#nav-row-listing') Row Listing
                          #nav-row-listing.nav-wrapper
                            ul
                              li
                                a(href='listing-row-right-sidebar.html') Row Right Sidebar
                              li
                                a(href='listing-row-left-sidebar.html') Row Left Sidebar
                li.mega-menu-parent.has-child
                  a(href='#nav-pages') Pages
                  .wrapper
                    .mega-menu
                      #nav-pages.nav-wrapper
                        .container
                          .row
                            .col-md-3.col-sm-3
                              h4.heading General
                              ul
                                li
                                  a(href='faq.html') Faq
                                li
                                  a(href='pricing.html') Pricing
                                li
                                  a(href='submit.html') Submit Listing
                                li
                                  a(href='detail.html') Listing Detail
                                li
                                  a(href='detail-2.html') Listing Detail v2
                            // end col-md-3
                            .col-md-3.col-sm-3
                              h4.heading User
                              ul
                                li
                                  a(href='profile.html') Profile Edit
                                li
                                  a(href='sign-in.html') Sign In
                                li
                                  a(href='register.html') Register
                                li
                                  a(href='reset-password.html') Reset Password
                                li
                                  a(href='my-listings.html') My Listings
                                li
                                  a(href='edit-listing.html') Edit Listing
                                li
                                  a(href='reviews.html') Reviews
                            // end col-md-3
                            .col-md-3.col-sm-3
                              h4.heading Other
                              ul
                                li
                                  a(href='elements.html') Elements / Shortcodes
                                li
                                  a(href='404.html') 404 Error Page
                                li
                                  a(href='sticky-footer.html') Sticky Footer
                                li
                                  a(href='terms-and-conditions.html') Terms & Conditions
                                li
                                  a(href='grid-system.html') Grid System
                            // end col-md-3
                            .col-md-3.col-sm-3
                              .image.center.overlay
                                .vertical-aligned-elements
                                  .element
                                    a.btn.btn-default.btn-framed(href='#') Submit Your Listing
                                .bg-transfer
                                  img(src='assets/img/items/10.jpg' alt='')
                            // end col-md-3
                          // end row
                        // end container
                      // end collapse
                    // end wrapper
                  // end mega-menu
                li.has-child
                  a(href='#nav-locations') Locations
                  .wrapper
                    #nav-locations.nav-wrapper
                      ul
                        li.has-child
                          a(href='#nav-locations-new-york') New York
                          #nav-locations-new-york.nav-wrapper
                            ul
                              li.has-child
                                a(href='#nav-4') Manhattan
                                #nav-4.nav-wrapper
                                  ul
                                    li
                                      a(href='#') 1
                                    li
                                      a(href='#') 2
                                    li
                                      a(href='#') 3
                                    li
                                      a(href='#') 4
                              li
                                a(href='#') Brooklyn
                              li
                                a(href='#') Staten Island
                        li.has-child
                          a(href='#nav-5') London
                          #nav-5.nav-wrapper
                            ul
                              li
                                a(href='#') Abbey Wood
                              li
                                a(href='#') Bayswater
                              li
                                a(href='#') Forestdale
                        li.has-child
                          a(href='#nav-6') Paris
                          #nav-6.nav-wrapper
                            ul
                              li
                                a(href='#') Louvre
                              li
                                a(href='#') Bourse
                              li
                                a(href='#') Marais
                    // end nav-wrapper
                  // end wrapper
                li
                  a(href='blog.html') Blog
                li
                  a(href='contact.html') Contact
              // end navigation
            // end primary-nav
            .secondary-nav
              a(href='#' data-modal-external-file='modal_sign_in.php' data-target='modal-sign-in') Sign In
              a.promoted(href='#' data-modal-external-file='modal_register.php' data-target='modal-register') Register
            // end secondary-nav
            a.btn.btn-primary.btn-small.btn-rounded.icon.shadow.add-listing(href='#' data-modal-external-file='modal_submit.php' data-target='modal-submit')
              i.fa.fa-plus
              span Add listing
            .nav-btn
              i
              i
              i
            // end nav-btn
          // end right
        // end nav
      // end page-header
      #page-content
        .container
          ol.breadcrumb
            li
              a(href='#') Home
            li
              a(href='#') Pages
            li.active Contact
          // end breadcrumb
          section.page-title.center
            h1 Your Profile
          // end page-title
          section
            .row
              .col-md-6.col-sm-6.col-md-offset-3.col-sm-offset-3
                form.form.inputs-underline
                  section
                    .user-details.box
                      .user-image
                        .image
                          .bg-transfer
                            img(src='assets/img/person-01.jpg' alt='')
                          // end bg-transfer
                          .single-file-input
                            input#user_image(type='file' name='user_image')
                            div
                              | Upload a picture
                              i.fa.fa-upload
                        // end image
                      // end user-image
                      .description.clearfix
                        h3 Your current plan
                        h2 Gold Package
                        a.btn.btn-default.btn-rounded.btn-xs(href='#') Change
                        hr
                        figure
                          .pull-left
                            strong Next payment:
                          .pull-right 24/12/2015
                      // end description
                  // end user-details
                  section
                    h3 About You
                    .row
                      .col-md-6.col-sm-6
                        .form-group
                          label(for='first_name') First Name
                          input#first_name.form-control(type='text' name='first_name' value='Jane')
                        // end form-group
                      // end col-md-6
                      .col-md-6.col-sm-6
                        .form-group
                          label(for='last_name') Last Name
                          input#last_name.form-control(type='text' name='last_name' value='Green')
                        // end form-group
                      // end col-md-6
                      .col-md-6.col-sm-6
                        .form-group
                          label(for='email') Email
                          input#email.form-control(type='email' name='email' value='jane@example.com')
                        // end form-group
                      // end col-md-6
                      .col-md-6.col-sm-6
                        .form-group
                          label(for='phone') Phone
                          input#phone.form-control(type='text' name='phone' value='+1 260-478-7987')
                        // end form-group
                      // end col-md-6
                    // end row
                    .form-group
                      label(for='message') About You
                      textarea#message.form-control(rows='2' name='message' placeholder='Something about me')
                    // end form-group
                  section
                    h3 Your Social Networks
                    .row
                      .col-md-6.col-sm-6
                        .form-group
                          label(for='facebook') Facebook
                          input#facebook.form-control(type='text' name='facebook' placeholder='Facebook')
                        // end form-group
                      // end col-md-6
                      .col-md-6.col-sm-6
                        .form-group
                          label(for='twitter') Twitter
                          input#twitter.form-control(type='text' name='twitter' placeholder='Twitter')
                        // end form-group
                      // end col-md-6
                      .col-md-6.col-sm-6
                        .form-group
                          label(for='pinterest') Pinterest
                          input#pinterest.form-control(type='text' name='pinterest' placeholder='Pinterest')
                        // end form-group
                      // end col-md-6
                      .col-md-6.col-sm-6
                        .form-group
                          label(for='youtube') Youtube
                          input#youtube.form-control(type='text' name='youtube' placeholder='Youtube')
                        // end form-group
                      // end col-md-6
                    // end row
                  section.center
                    .form-group
                      button.btn.btn-primary.btn-rounded(type='submit') Save Changes
                    // end form-group
                // end form
                hr
              // end col-md-6
            // end row
          section
            section
              .row
                .col-md-4.col-sm-4.col-md-offset-4.col-sm-offset-4
                  h3.center Change Your Password
                  form.form.inputs-underline
                    .form-group
                      label(for='current_password') Current Password
                      input#current_password.form-control(type='password' name='current_password' value='******')
                    // end form-group
                    .form-group
                      label(for='new_password') New Password
                      input#new_password.form-control(type='password' name='new_password' placeholder='New Password')
                    // end form-group
                    .form-group
                      label(for='confirm_new_password') Confirm New Password
                      input#confirm_new_password.form-control(type='password' name='confirm_new_password' placeholder='Confirm New Password')
                    // end form-group
                    .form-group.center
                      button.btn.btn-primary.btn-framed.btn-rounded.btn-light-frame(type='submit') Change Password
                    // end form-group
        // end container
      // end page-content
      footer#page-footer
        .footer-wrapper
          .block
            .container
              .vertical-aligned-elements
                .element.width-50
                  p(data-toggle='modal' data-target='#myModal')
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam at neque sit amet vestibulum. 
                    a(href='#') Terms of Use
                    |  and 
                    a(href='#') Privacy Policy
                    | .
                .element.width-50.text-align-right
                  a.circle-icon(href='#')
                    i.social_twitter
                  a.circle-icon(href='#')
                    i.social_facebook
                  a.circle-icon(href='#')
                    i.social_youtube
              .background-wrapper
                .bg-transfer.opacity-50
                  img(src='assets/img/footer-bg.png' alt='')
              // end background-wrapper
          .footer-navigation
            .container
              .vertical-aligned-elements
                .element.width-50 (C) 2016 Your Company, All right reserved
                .element.width-50.text-align-right
                  a(href='index.html') Home
                  a(href='listing-grid-right-sidebar.html') Listings
                  a(href='submit.html') Submit Item
                  a(href='contact.html') Contact
      // end page-footer
    // end page-wrapper
    script(type='text/javascript' src='assets/js/jquery-2.2.1.min.js')
    script(type='text/javascript' src='assets/js/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript' src='assets/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript' src='assets/js/bootstrap-select.min.js')
    script(type='text/javascript' src='http://maps.google.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58&libraries=places')
    script(type='text/javascript' src='assets/js/richmarker-compiled.js')
    script(type='text/javascript' src='assets/js/owl.carousel.min.js')
    script(type='text/javascript' src='assets/js/jquery.validate.min.js')
    script(type='text/javascript' src='assets/js/custom.js')
    script(type='text/javascript' src='assets/js/maps.js')
