doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content='ThemeStarz')
    link(href='assets/fonts/font-awesome.css' rel='stylesheet' type='text/css')
    link(href='assets/fonts/elegant-fonts.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.css' type='text/css')
    link(rel='stylesheet' href='assets/css/owl.carousel.css' type='text/css')
    link(rel='stylesheet' href='assets/css/style.css' type='text/css')
    title Locations - Directory Listing HTML Template
    style.
      .box { padding: 10px; font-size: 12px; font-weight: bold; line-height: 50px; }
      .row { margin-bottom: 30px; }
  body
    .page-wrapper
      header#page-header
        nav
          .left
            a.brand(href='index.html')
              img(src='assets/img/logo.png' alt='')
          // end left
          .right
            .primary-nav.has-mega-menu
              ul.navigation
                li.active.has-child
                  a(href='#nav-homepages') Home
                  .wrapper
                    #nav-homepages.nav-wrapper
                      ul
                        li
                          a(href='index-map-version-1.html') Map Full Screen Sidebar Results
                        li
                          a(href='index-map-version-2.html') Map Horizontal Form
                        li
                          a(href='index-map-version-3.html') Map Full Screen Form in Sidebar
                        li
                          a(href='index-map-version-4.html') Map Form Under
                        li
                          a(href='index-hero-version-1.html') Hero One Input Form
                        li
                          a(href='index-hero-version-2.html') Hero Multiple Inputs
                        li
                          a(href='index-hero-version-3.html') Hero Form Under
                        li
                          a(href='index-hero-version-4.html') Hero Full Screen Slider
                li.has-child
                  a(href='#nav-listing') Listing
                  .wrapper
                    #nav-listing.nav-wrapper
                      ul
                        li.has-child
                          a(href='#nav-grid-listing') Grid Listing
                          #nav-grid-listing.nav-wrapper
                            ul
                              li
                                a(href='listing-grid-right-sidebar.html') With Right Sidebar
                              li
                                a(href='listing-grid-left-sidebar.html') With Left Sidebar
                              li
                                a(href='listing-grid-full-width.html') Full Width
                              li
                                a(href='listing-grid-different-widths.html') Different Widths
                              li
                                a(href='listing-grid-3-items.html') 3 Items in Row
                              li
                                a(href='listing-grid-4-items.html') 4 Items in Row
                        li.has-child
                          a(href='#nav-row-listing') Row Listing
                          #nav-row-listing.nav-wrapper
                            ul
                              li
                                a(href='listing-row-right-sidebar.html') Row Right Sidebar
                              li
                                a(href='listing-row-left-sidebar.html') Row Left Sidebar
                li.mega-menu-parent.has-child
                  a(href='#nav-pages') Pages
                  .wrapper
                    .mega-menu
                      #nav-pages.nav-wrapper
                        .container
                          .row
                            .col-md-3.col-sm-3
                              h4.heading General
                              ul
                                li
                                  a(href='faq.html') Faq
                                li
                                  a(href='pricing.html') Pricing
                                li
                                  a(href='submit.html') Submit Listing
                                li
                                  a(href='detail.html') Listing Detail
                                li
                                  a(href='detail-2.html') Listing Detail v2
                            // end col-md-3
                            .col-md-3.col-sm-3
                              h4.heading User
                              ul
                                li
                                  a(href='profile.html') Profile Edit
                                li
                                  a(href='sign-in.html') Sign In
                                li
                                  a(href='register.html') Register
                                li
                                  a(href='reset-password.html') Reset Password
                                li
                                  a(href='my-listings.html') My Listings
                                li
                                  a(href='edit-listing.html') Edit Listing
                                li
                                  a(href='reviews.html') Reviews
                            // end col-md-3
                            .col-md-3.col-sm-3
                              h4.heading Other
                              ul
                                li
                                  a(href='elements.html') Elements / Shortcodes
                                li
                                  a(href='404.html') 404 Error Page
                                li
                                  a(href='sticky-footer.html') Sticky Footer
                                li
                                  a(href='terms-and-conditions.html') Terms & Conditions
                                li
                                  a(href='grid-system.html') Grid System
                            // end col-md-3
                            .col-md-3.col-sm-3
                              .image.center.overlay
                                .vertical-aligned-elements
                                  .element
                                    a.btn.btn-default.btn-framed(href='#') Submit Your Listing
                                .bg-transfer
                                  img(src='assets/img/items/10.jpg' alt='')
                            // end col-md-3
                          // end row
                        // end container
                      // end collapse
                    // end wrapper
                  // end mega-menu
                li.has-child
                  a(href='#nav-locations') Locations
                  .wrapper
                    #nav-locations.nav-wrapper
                      ul
                        li.has-child
                          a(href='#nav-locations-new-york') New York
                          #nav-locations-new-york.nav-wrapper
                            ul
                              li.has-child
                                a(href='#nav-4') Manhattan
                                #nav-4.nav-wrapper
                                  ul
                                    li
                                      a(href='#') 1
                                    li
                                      a(href='#') 2
                                    li
                                      a(href='#') 3
                                    li
                                      a(href='#') 4
                              li
                                a(href='#') Brooklyn
                              li
                                a(href='#') Staten Island
                        li.has-child
                          a(href='#nav-5') London
                          #nav-5.nav-wrapper
                            ul
                              li
                                a(href='#') Abbey Wood
                              li
                                a(href='#') Bayswater
                              li
                                a(href='#') Forestdale
                        li.has-child
                          a(href='#nav-6') Paris
                          #nav-6.nav-wrapper
                            ul
                              li
                                a(href='#') Louvre
                              li
                                a(href='#') Bourse
                              li
                                a(href='#') Marais
                    // end nav-wrapper
                  // end wrapper
                li
                  a(href='blog.html') Blog
                li
                  a(href='contact.html') Contact
              // end navigation
            // end primary-nav
            .secondary-nav
              a(href='#' data-modal-external-file='modal_sign_in.php' data-target='modal-sign-in') Sign In
              a.promoted(href='#' data-modal-external-file='modal_register.php' data-target='modal-register') Register
            // end secondary-nav
            a.btn.btn-primary.btn-small.btn-rounded.icon.shadow.add-listing(href='#' data-modal-external-file='modal_submit.php' data-target='modal-submit')
              i.fa.fa-plus
              span Add listing
            .nav-btn
              i
              i
              i
            // end nav-btn
          // end right
        // end nav
      // end page-header
      #page-content
        .container
          ol.breadcrumb
            li
              a(href='#') Home
            li
              a(href='#') Pages
            li.active Contact
          // end breadcrumb
          section.page-title
            h1 Reviews
          // end page-title
          section.reviews
            .review
              .ribbon.right.new
                figure New
              .row
                .col-md-2
                  aside.name John Doe
                  aside.date 10.03.2015
                // end col-md-3
                .col-md-10
                  .comment
                    .row
                      .col-md-8
                        .comment-title
                          figure.rating 9.5
                          h4 Beautiful Holiday
                        // end title
                        p
                          | Consectetur adipiscing elit. Vivamus nec augue ac dui sodales euismod.
                          | Suspendisse at dui sit amet felis commodo dictum. Class aptent taciti
                          | sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                          | Integer commodo eleifend erat, vitae tincidunt urna volutpat et.
                          | Mauris laoreet, sem ut sodales sodales, massa turpis posuere lectus, non
                          | aliquet massa nisl ac orci.
                        .options
                          a.btn.btn-framed.btn-primary.btn-rounded.btn-small.icon(href='#reply_1' data-toggle='collapse' aria-expanded='false' aria-controls='reply_1')
                            | Reply
                            i.fa.fa-reply.font-color-default
                        // end options
                        #reply_1.collapse.in
                          .answer
                            form#form_reply_1.form.labels-uppercase.clearfix
                              .row
                                .col-md-6
                                  .form-group
                                    label(for='form_reply_1-name')
                                      | Your Name
                                      em *
                                    input#form_reply_1-name.form-control(type='text' name='name' placeholder='Name' required='')
                                // end col-md-6
                                .col-md-6
                                  .form-group
                                    label(for='form_reply_1-email') Your Position (optional)
                                    input#form_reply_1-email.form-control(type='text' name='position' placeholder='e.g. Owner')
                                // end col-md-6
                              // end row
                              .form-group
                                label(for='form_reply_1-message')
                                  | Your Answer
                                  em *
                                textarea#form_reply_1-message.form-control(rows='8' name='answer' required='' placeholder='Message')
                              // end form-group
                              .form-group.pull-right
                                button.btn.btn-primary.btn-rounded(type='submit') Send Message
                              // end form-group
                            // end form
                          // end answer
                        // end collapse
                      // end col-md-8
                      .col-md-4
                        .comment-title
                          h4 Rating
                        // end title
                        dl.visitor-rating
                          dt Cleanliness
                          dd 10
                          dt Comfort
                          dd 9
                          dt Location
                          dd 8
                          dt Facilities
                          dd 10
                          dt Staff
                          dd 8
                          dt Value for money
                          dd 9
                      // end col-md-4
                    // end row
                  // end comment
                // end col-md-9
              // end row
            // end review
            .review.muted
              .ribbon.right.new.white
                figure
                  i.fa.fa-check
                  | Answered
              .row
                .col-md-2
                  aside.name Peter Green
                  aside.date 08.03.2015
                // end col-md-3
                .col-md-10
                  .comment
                    .row
                      .col-md-8
                        .comment-title
                          figure.rating 9.8
                          h4 Very Good Hotel
                        // end title
                        p
                          | Sed facilisis mi turpis, sed suscipit risus consequat sed. Donec cursus
                          | feugiat nulla sit amet viverra. Nulla sit amet condimentum mi, et suscipit
                          | justo. Pellentesque maximus lectus sit amet rutrum vulputate. Vivamus neque
                          | tortor, rutrum eu consectetur eget, posuere eu eros. Aenean fringilla vel libero
                          | eu mollis. Phasellus vitae ultricies mauris. In vel est interdum, dictum mi eget,
                          | fermentum nibh. Quisque vitae porttitor massa. Proin non diam tincidunt, consectetur
                          | tortor eget, consequat diam. Praesent dictum odio lorem, nec imperdiet turpis
                          | vestibulum ac.
                        .options
                          a.btn.btn-framed.btn-primary.btn-rounded.btn-small.icon(href='#reply_2' data-toggle='collapse' aria-expanded='false' aria-controls='reply_2')
                            | Reply
                            i.fa.fa-reply.font-color-default
                        // end options
                        #reply_2.collapse
                          .answer
                            form#form_reply_2.form.labels-uppercase.clearfix
                              .row
                                .col-md-6
                                  .form-group
                                    label(for='form_reply_1-name')
                                      | Your Name
                                      em *
                                    input#form_reply_2-name.form-control(type='text' name='name' placeholder='Name' required='')
                                // end col-md-6
                                .col-md-6
                                  .form-group
                                    label(for='form_reply_1-email') Your Position (optional)
                                    input#form_reply_2-email.form-control(type='text' name='position' placeholder='e.g. Owner')
                                // end col-md-6
                              // end row
                              .form-group
                                label(for='form_reply_1-message')
                                  | Your Answer
                                  em *
                                textarea#form_reply_2-message.form-control(rows='8' name='answer' required='' placeholder='Message')
                              // end form-group
                              .form-group.pull-right
                                button.btn.btn-primary.btn-rounded(type='submit') Send Message
                              // end form-group
                            // end form
                          // end answer
                        // end collapse
                      // end col-md-8
                      .col-md-4
                        .comment-title
                          h4 Rating
                        // end title
                        dl.visitor-rating
                          dt Cleanliness
                          dd 10
                          dt Comfort
                          dd 9
                          dt Location
                          dd 8
                          dt Facilities
                          dd 10
                          dt Staff
                          dd 8
                          dt Value for money
                          dd 9
                      // end col-md-4
                    // end row
                  // end comment
                // end col-md-9
              // end row
            // end review
            .review
              .row
                .col-md-2
                  aside.name Suzanne Broke
                  aside.date 01.03.2015
                // end col-md-3
                .col-md-10
                  .comment
                    .row
                      .col-md-8
                        .comment-title
                          figure.rating 9.2
                          h4 Nice Stay!
                        // end title
                        p
                          | Maecenas porta velit nec semper rutrum. Vestibulum ac lorem imperdiet metus
                          | ullamcorper porttitor. In quis iaculis dui. Sed lorem dui, scelerisque sodales
                          | feugiat aliquet, finibus et magna. Aenean sit amet tincidunt nunc.
                          | Vestibulum commodo at nisi ut pellentesque.
                        .options
                          a.btn.btn-framed.btn-primary.btn-rounded.btn-small.icon(href='#reply_3' data-toggle='collapse' aria-expanded='false' aria-controls='reply_3')
                            | Reply
                            i.fa.fa-reply.font-color-default
                        // end options
                        #reply_3.collapse
                          .answer
                            form#form_reply_3.form.labels-uppercase.clearfix
                              .row
                                .col-md-6
                                  .form-group
                                    label(for='form_reply_1-name')
                                      | Your Name
                                      em *
                                    input#form_reply_3-name.form-control(type='text' name='name' placeholder='Name' required='')
                                // end col-md-6
                                .col-md-6
                                  .form-group
                                    label(for='form_reply_1-email') Your Position (optional)
                                    input#form_reply_3-email.form-control(type='text' name='position' placeholder='e.g. Owner')
                                // end col-md-6
                              // end row
                              .form-group
                                label(for='form_reply_1-message')
                                  | Your Answer
                                  em *
                                textarea#form_reply_3-message.form-control(rows='8' name='answer' required='' placeholder='Message')
                              // end form-group
                              .form-group.pull-right
                                button.btn.btn-primary.btn-rounded(type='submit') Send Message
                              // end form-group
                            // end form
                          // end answer
                        // end collapse
                      // end col-md-8
                      .col-md-4
                        .comment-title
                          h4 Rating
                        // end title
                        dl.visitor-rating
                          dt Cleanliness
                          dd 10
                          dt Comfort
                          dd 9
                          dt Location
                          dd 8
                          dt Facilities
                          dd 10
                          dt Staff
                          dd 8
                          dt Value for money
                          dd 9
                      // end col-md-4
                    // end row
                  // end comment
                // end col-md-9
              // end row
            // end review
          // end reviews
          section.center
            a.btn.btn-primary.btn-light-frame.btn-rounded.btn-framed.btn-large(href='') Load More
          // end center
        // end container
      // end page-content
      footer#page-footer
        .footer-wrapper
          .block
            .container
              .vertical-aligned-elements
                .element.width-50
                  p(data-toggle='modal' data-target='#myModal')
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam at neque sit amet vestibulum. 
                    a(href='#') Terms of Use
                    |  and 
                    a(href='#') Privacy Policy
                    | .
                .element.width-50.text-align-right
                  a.circle-icon(href='#')
                    i.social_twitter
                  a.circle-icon(href='#')
                    i.social_facebook
                  a.circle-icon(href='#')
                    i.social_youtube
              .background-wrapper
                .bg-transfer.opacity-50
                  img(src='assets/img/footer-bg.png' alt='')
              // end background-wrapper
          .footer-navigation
            .container
              .vertical-aligned-elements
                .element.width-50 (C) 2016 Your Company, All right reserved
                .element.width-50.text-align-right
                  a(href='index.html') Home
                  a(href='listing-grid-right-sidebar.html') Listings
                  a(href='submit.html') Submit Item
                  a(href='contact.html') Contact
      // end page-footer
    // end page-wrapper
    script(type='text/javascript' src='assets/js/jquery-2.2.1.min.js')
    script(type='text/javascript' src='assets/js/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript' src='assets/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript' src='assets/js/bootstrap-select.min.js')
    script(type='text/javascript' src='http://maps.google.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58&libraries=places')
    script(type='text/javascript' src='assets/js/richmarker-compiled.js')
    script(type='text/javascript' src='assets/js/owl.carousel.min.js')
    script(type='text/javascript' src='assets/js/jquery.validate.min.js')
    script(type='text/javascript' src='assets/js/custom.js')
    script(type='text/javascript' src='assets/js/maps.js')
