doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content='ThemeStarz')
    link(href='assets/fonts/font-awesome.css' rel='stylesheet' type='text/css')
    link(href='assets/fonts/elegant-fonts.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.css' type='text/css')
    link(rel='stylesheet' href='assets/css/owl.carousel.css' type='text/css')
    link(rel='stylesheet' href='assets/css/bootstrap-select.min.css' type='text/css')
    link(rel='stylesheet' href='assets/css/jquery.nouislider.min.css' type='text/css')
    link(rel='stylesheet' href='assets/css/style.css' type='text/css')
    title Locations - Directory Listing HTML Template
  body
    .page-wrapper
      header#page-header
        nav
          .left
            a.brand(href='index.html')
              img(src='assets/img/logo.png' alt='')
          // end left
          .right
            .primary-nav.has-mega-menu
              ul.navigation
                li.active.has-child
                  a(href='#nav-homepages') Home
                  .wrapper
                    #nav-homepages.nav-wrapper
                      ul
                        li
                          a(href='index-map-version-1.html') Map Full Screen Sidebar Results
                        li
                          a(href='index-map-version-2.html') Map Horizontal Form
                        li
                          a(href='index-map-version-3.html') Map Full Screen Form in Sidebar
                        li
                          a(href='index-map-version-4.html') Map Form Under
                        li
                          a(href='index-hero-version-1.html') Hero One Input Form
                        li
                          a(href='index-hero-version-2.html') Hero Multiple Inputs
                        li
                          a(href='index-hero-version-3.html') Hero Form Under
                        li
                          a(href='index-hero-version-4.html') Hero Full Screen Slider
                li.has-child
                  a(href='#nav-listing') Listing
                  .wrapper
                    #nav-listing.nav-wrapper
                      ul
                        li.has-child
                          a(href='#nav-grid-listing') Grid Listing
                          #nav-grid-listing.nav-wrapper
                            ul
                              li
                                a(href='listing-grid-right-sidebar.html') With Right Sidebar
                              li
                                a(href='listing-grid-left-sidebar.html') With Left Sidebar
                              li
                                a(href='listing-grid-full-width.html') Full Width
                              li
                                a(href='listing-grid-different-widths.html') Different Widths
                              li
                                a(href='listing-grid-3-items.html') 3 Items in Row
                              li
                                a(href='listing-grid-4-items.html') 4 Items in Row
                        li.has-child
                          a(href='#nav-row-listing') Row Listing
                          #nav-row-listing.nav-wrapper
                            ul
                              li
                                a(href='listing-row-right-sidebar.html') Row Right Sidebar
                              li
                                a(href='listing-row-left-sidebar.html') Row Left Sidebar
                li.mega-menu-parent.has-child
                  a(href='#nav-pages') Pages
                  .wrapper
                    .mega-menu
                      #nav-pages.nav-wrapper
                        .container
                          .row
                            .col-md-3.col-sm-3
                              h4.heading General
                              ul
                                li
                                  a(href='faq.html') Faq
                                li
                                  a(href='pricing.html') Pricing
                                li
                                  a(href='submit.html') Submit Listing
                                li
                                  a(href='detail.html') Listing Detail
                                li
                                  a(href='detail-2.html') Listing Detail v2
                            // end col-md-3
                            .col-md-3.col-sm-3
                              h4.heading User
                              ul
                                li
                                  a(href='profile.html') Profile Edit
                                li
                                  a(href='sign-in.html') Sign In
                                li
                                  a(href='register.html') Register
                                li
                                  a(href='reset-password.html') Reset Password
                                li
                                  a(href='my-listings.html') My Listings
                                li
                                  a(href='edit-listing.html') Edit Listing
                                li
                                  a(href='reviews.html') Reviews
                            // end col-md-3
                            .col-md-3.col-sm-3
                              h4.heading Other
                              ul
                                li
                                  a(href='elements.html') Elements / Shortcodes
                                li
                                  a(href='404.html') 404 Error Page
                                li
                                  a(href='sticky-footer.html') Sticky Footer
                                li
                                  a(href='terms-and-conditions.html') Terms & Conditions
                                li
                                  a(href='grid-system.html') Grid System
                            // end col-md-3
                            .col-md-3.col-sm-3
                              .image.center.overlay
                                .vertical-aligned-elements
                                  .element
                                    a.btn.btn-default.btn-framed(href='#') Submit Your Listing
                                .bg-transfer
                                  img(src='assets/img/items/10.jpg' alt='')
                            // end col-md-3
                          // end row
                        // end container
                      // end collapse
                    // end wrapper
                  // end mega-menu
                li.has-child
                  a(href='#nav-locations') Locations
                  .wrapper
                    #nav-locations.nav-wrapper
                      ul
                        li.has-child
                          a(href='#nav-locations-new-york') New York
                          #nav-locations-new-york.nav-wrapper
                            ul
                              li.has-child
                                a(href='#nav-4') Manhattan
                                #nav-4.nav-wrapper
                                  ul
                                    li
                                      a(href='#') 1
                                    li
                                      a(href='#') 2
                                    li
                                      a(href='#') 3
                                    li
                                      a(href='#') 4
                              li
                                a(href='#') Brooklyn
                              li
                                a(href='#') Staten Island
                        li.has-child
                          a(href='#nav-5') London
                          #nav-5.nav-wrapper
                            ul
                              li
                                a(href='#') Abbey Wood
                              li
                                a(href='#') Bayswater
                              li
                                a(href='#') Forestdale
                        li.has-child
                          a(href='#nav-6') Paris
                          #nav-6.nav-wrapper
                            ul
                              li
                                a(href='#') Louvre
                              li
                                a(href='#') Bourse
                              li
                                a(href='#') Marais
                    // end nav-wrapper
                  // end wrapper
                li
                  a(href='blog.html') Blog
                li
                  a(href='contact.html') Contact
              // end navigation
            // end primary-nav
            .secondary-nav
              a(href='#' data-modal-external-file='modal_sign_in.php' data-target='modal-sign-in') Sign In
              a.promoted(href='#' data-modal-external-file='modal_register.php' data-target='modal-register') Register
            // end secondary-nav
            a.btn.btn-primary.btn-small.btn-rounded.icon.shadow.add-listing(href='#' data-modal-external-file='modal_submit.php' data-target='modal-submit')
              i.fa.fa-plus
              span Add listing
            .nav-btn
              i
              i
              i
            // end nav-btn
          // end right
        // end nav
      // end page-header
      #page-content
        .container
          ol.breadcrumb
            li
              a(href='#') Home
            li
              a(href='#') Pages
            li.active Contact
          // end breadcrumb
          section.page-title
            h1 Terms and Conditions
          // end page-title
          .row
            .col-md-9.col-sm-9
              section
                h2 Welcome to Locations!
                p
                  | These terms and conditions outline the rules and regulations for the use of Listing Portal's Website.
                  | Listing Portal is located at:
                p
                  i
                    | 2708 Burwell Heights Road,
                    br
                    |                                 Warren, TX 77664
                    br
                    |                                 United States
                    br
                p
                  | By accessing this website we assume you accept these terms and conditions in full. Do not continue to use Listing Portal's website if you do not accept all of the terms and conditions stated on this page.
                p
                  | The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and any or all Agreements: "Client", “You” and “Your” refers to you, the person accessing this website and accepting the Company’s terms and conditions. "The Company", “Ourselves”, “We”, “Our” and "Us", refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services/products, in accordance with and subject to, prevailing law of United States. Any use of the above terminology or other words in the singular, plural, capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.
              section
                h2 Cookies
                p
                  | We employ the use of cookies. By using Listing Portal's website you consent to the use of cookies in accordance with Listing Portal’s privacy policy.
                  br
                  br
                  |                             Most of the modern day interactive web sites use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate / advertising partners may also use cookies.
              section
                h2 License
                p
                  | Unless otherwise stated, Listing Portal and/or it’s licensors own the intellectual property rights for all material on Listing Portal All intellectual property rights are reserved. You may view and/or print pages from http://www.example.com for your own personal use subject to restrictions set in these terms and conditions.
                p You must not:
                ul.bullets
                  li Republish material from http://www.example.com
                  li Sell, rent or sub-license material from http://www.example.com
                  li Reproduce, duplicate or copy material from http://www.example.com
                p
                  | Redistribute content from Listing Portal (unless content is specifically made for redistribution).
              section
                h2 User Comments
                ol
                  li This Agreement shall begin on the date hereof.
                  li
                    | Certain parts of this website offer the opportunity for users to post and exchange opinions, information, material and data ('Comments') in areas of the website. Listing Portal does not screen, edit, publish or review Comments prior to their appearance on the website and Comments do not reflect the views or opinions of Listing Portal, its agents or affiliates. Comments reflect the view and opinion of the person who posts such view or opinion. To the extent permitted by applicable laws Listing Portal shall not be responsible or liable for the Comments or for any loss cost, liability, damages or expenses caused and or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.
                  li
                    | Listing Portal reserves the right to monitor all Comments and to remove any Comments which it considers in its absolute discretion to be inappropriate, offensive or otherwise in breach of these Terms and Conditions.
                  li
                    | You warrant and represent that:
                    ol
                      li
                        | You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;
                      li
                        | The Comments do not infringe any intellectual property right, including without limitation copyright, patent or trademark, or other proprietary right of any third party;
                      li
                        | The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material or material which is an invasion of privacy
                      li
                        | The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.
                  li
                    | You hereby grant to Listing Portal a non-exclusive royalty-free license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.
              section
                h2 Reservation of Rights
                p
                  | We reserve the right at any time and in its sole discretion to request that you remove all links or any particular link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also reserve the right to amend these terms and conditions and its linking policy at any time. By continuing to link to our Web site, you agree to be bound to and abide by these linking terms and conditions.
              section
                h2 Removal of links from our website
                p
                  | If you find any link on our Web site or any linked web site objectionable for any reason, you may contact us about this. We will consider requests to remove links but will have no obligation to do so or to respond directly to you.
                  | Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we commit to ensuring that the website remains available or that the material on the website is kept up to date.
            // end col-md-9
            .col-md-3.col-sm-3
              aside.sidebar
                section
                  h2 Search Filter
                  form.form.inputs-underline
                    .form-group
                      input.form-control(type='text' name='keyword' placeholder='Enter keyword')
                    // end form-group
                    .form-group
                      select.form-control.selectpicker(name='location')
                        option(value='') Location
                        option(value='1') New York
                        option(value='2') Washington
                        option(value='3') London
                        option(value='4') Paris
                    // end form-group
                    .form-group
                      select.form-control.selectpicker(name='category')
                        option(value='') Category
                        option(value='1') Restaurant
                        option(value='2') Event
                        option(value='3') Adrenaline
                        option(value='4') Sport
                        option(value='5') Wellness
                    // end form-group
                    .form-group
                      #price-slider.ui-slider(data-value-min='10' data-value-max='400' data-value-type='price' data-currency='$' data-currency-placement='before')
                        .values.clearfix
                          input.value-min(name='value-min[]' readonly='')
                          input.value-max(name='value-max[]' readonly='')
                        .element
                      // end price-slider
                    // end form-group
                    .form-group
                      button.btn.btn-primary.pull-right(type='submit')
                        | Search Now
                        i.fa.fa-search
                    // end form-group
                section
                  h2 Recent Items
                  .item(data-id='1')
                    a(href='detail.html')
                      .description
                        figure Average Price: $8 - $30
                        .label.label-default Restaurant
                        h3 Marky’s Restaurant
                        h4 63 Birch Street
                      // end description
                      .image.bg-transfer
                        img(src='assets/img/items/1.jpg' alt='')
                      // end image
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                  // end item
                  .item(data-id='2')
                    a(href='detail.html')
                      .description
                        .label.label-default Restaurant
                        h3 Ironapple
                        h4 4209 Glenview Drive
                      // end description
                      .image.bg-transfer
                        img(src='assets/img/items/2.jpg' alt='')
                      // end image
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                    // end controls-more
                  // end item
                  .item(data-id='15')
                    figure.ribbon Top
                    a(href='detail.html')
                      .description
                        figure Happy hour: 18:00 - 19:00
                        .label.label-default Bar & Grill
                        h3 Bambi Planet Houseboat Bar& Grill 
                        h4 3857 Losh Lane
                      // end description
                      .image.bg-transfer
                        img(src='assets/img/items/3.jpg' alt='')
                      // end image
                    .controls-more
                      ul
                        li
                          a(href='#') Add to favorites
                        li
                          a(href='#') Add to watchlist
                        li
                          a.quick-detail(href='#') Quick detail
                    // end controls-more
                  // end item
              // end sidebar
            // end col-md-3
          // end row
        // end container
      // end page-content
      footer#page-footer
        .footer-wrapper
          .block
            .container
              .vertical-aligned-elements
                .element.width-50
                  p(data-toggle='modal' data-target='#myModal')
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam at neque sit amet vestibulum. 
                    a(href='#') Terms of Use
                    |  and 
                    a(href='#') Privacy Policy
                    | .
                .element.width-50.text-align-right
                  a.circle-icon(href='#')
                    i.social_twitter
                  a.circle-icon(href='#')
                    i.social_facebook
                  a.circle-icon(href='#')
                    i.social_youtube
              .background-wrapper
                .bg-transfer.opacity-50
                  img(src='assets/img/footer-bg.png' alt='')
              // end background-wrapper
          .footer-navigation
            .container
              .vertical-aligned-elements
                .element.width-50 (C) 2016 Your Company, All right reserved
                .element.width-50.text-align-right
                  a(href='index.html') Home
                  a(href='listing-grid-right-sidebar.html') Listings
                  a(href='submit.html') Submit Item
                  a(href='contact.html') Contact
      // end page-footer
    // end page-wrapper
    script(type='text/javascript' src='assets/js/jquery-2.2.1.min.js')
    script(type='text/javascript' src='assets/js/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript' src='assets/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript' src='assets/js/bootstrap-select.min.js')
    script(type='text/javascript' src='http://maps.google.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58&libraries=places')
    script(type='text/javascript' src='assets/js/richmarker-compiled.js')
    script(type='text/javascript' src='assets/js/owl.carousel.min.js')
    script(type='text/javascript' src='assets/js/jquery.validate.min.js')
    script(type='text/javascript' src='assets/js/jquery.nouislider.all.min.js')
    script(type='text/javascript' src='assets/js/custom.js')
    script(type='text/javascript' src='assets/js/maps.js')
