@mixin elegant-font {
  text-shadow:none;
  -webkit-font-smoothing: antialiased;
  font-family: "ElegantIcons";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
}
@mixin font-awesome {
  text-shadow:none;
  -webkit-font-smoothing: antialiased;
  font-family: "fontawesome";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
}
@mixin transit {
  @include transition(0.3s ease);
}
@mixin shadow {
  @include box-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
}
@mixin shadow-big {
  @include box-shadow(0px 3px 15px rgba(0, 0, 0, 0.33));
}
@mixin shadow-text {
  text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
}
@mixin uppercase {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}
@mixin gradient-black {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
}
@mixin keyframe($animation_name) {
  @-webkit-keyframes #{$animation_name} {
    @content;
  }
  @-moz-keyframes #{$animation_name} {
    @content;
  }
  @-o-keyframes #{$animation_name} {
    @content;
  }
  @keyframes #{$animation_name} {
    @content;
  }
}
@mixin animation($delay, $duration, $animation) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: infinite;

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
  -moz-animation-iteration-count: infinite;

  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-name: $animation;
  -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
  -o-animation-iteration-count: infinite;

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: forwards; /* this prevents the animation from restarting! */
  animation-iteration-count: infinite;
}
